[2020-10-27 13:18] bpetit opened #1 "Implement while loop in stdout exporter"
Testing the issue/kanban workflow

[2020-10-27 20:30] #1 closed, assigned to nobody

[2020-11-19 16:35] bpetit opened #2 "Have a clean README on prometheus exporter"
Fill in prometheus.md in docs with:
- usage
- available options (ipv4/ipv6 exposed address, port number...)
- metric names and descriptions
- shortcut to common metrics you may want

[2020-11-19 16:37] bpetit opened #3 "Have a clean README on powercap_rapl sensor"
Fill in powercap_rapl.md in docs with:
- usage
- options available and description (buffer-max-size, ...)
- prerequesites

[2020-11-19 16:40] bpetit opened #4 "Provide records per process"
Have functions from Topology tree that allow getting power consumption per process.

[2020-11-19 16:40] #4 closed, assigned to bpetit

[2020-11-19 16:41] bpetit opened #5 "Prometheus http exporter"
Have a fully working prometheus exporter.

Test it with prometheus and grafana.

[2020-11-19 16:43] #5 closed, assigned to bpetit

[2020-11-19 16:43] bpetit opened #6 "Clean README on stdout exporter"
Have a clean stdout.md in docs with:
- options available and description

[2020-11-19 16:45] bpetit opened #7 "1 clean comment per function and struct"
Code documentation improvement before release:
- each function must have a comprehensive comment with
- same with structs and enums

[2020-11-19 16:46] bpetit opened #8 "Qemu exporter to feed vm with its metrics, through qemu/virtio"
For qemu/kvm hypervisors.

[2020-11-19 16:48] bpetit opened #9 "Clean README on qemu/virtio exporter"
Have a clean virtio-bus.md in docs/exporters with:
- usage
- behavior
- options available and descriptions

[2020-11-19 17:14] bpetit opened #10 "StdoutExporter: json output format"
Have a clean json output with an attached option flag in stdout exporter.

[2020-11-19 17:15] bpetit opened #11 "Enable gettings metrics in a VM"
POC receiving metrics from virtio channel, in a kvm environment.

[2020-11-19 17:17] bpetit opened #12 "Clean README on collecting metrics in a VM"
With:
- usage
- behavior
- options available and descriptions
- prerequesites

[2020-11-19 17:24] bpetit opened #13 "Clean CONTRIBUTE.md"
- code structure:
  - exporters API
  - sensors API

[2020-11-20 10:33] bpetit opened #14 "Publish crate 0.1.0"
- publish on crates.io
- link to doc.rs documentation in readme
- badge to access crate's page

[2020-11-20 11:03] bpetit opened #15 "Harmonize error handling"
Ensure error handling is consistent and makes sense before release.

See https://www.youtube.com/watch?v=rAF8mLI0naQ&feature=youtu.be

[2020-11-20 15:33] #2 closed, assigned to bpetit

[2020-11-20 16:21] #3 closed, assigned to bpetit

[2020-11-26 09:31] bpetit opened #16 "CI pipeline skeleton"

[2020-11-26 12:17] bpetit opened #17 "PluginSensor to allow sensors to be written in another language."
dig into this: https://michael-f-bryan.github.io/rust-ffi-guide/dynamic_loading.html

[2020-11-26 12:17] bpetit opened #18 "PluginExporter to allow exporters to be written in other languages."
maybe protobuffs ?

https://github.com/stepancheg/rust-protobuf/blob/master/README.md

[2020-11-27 10:04] bpetit opened #19 "Prometheus exporter: glitch happen with systemd process power consumption"
## Bug description

Glitch of unreal power consumption happen sometimes. Seems to be related specifically to systemd.

## To Reproduce

No specific procedure to reproduce. Run the prometheus exporter for quite a long time and hope you are lucky,.

## Expected behavior

## Screenshots

![2020-11-27_11-00](https://user-images.githubusercontent.com/906428/100436677-93097e80-3097-11eb-90ec-4d826338a42

[2020-11-30 15:36] bpetit opened #20 "Investigate and at least document why a compilation process may create a difference between total host power and sum of processes power"
Running a `build --release` of scaphandre with `lto=thin` I see that host total power differs from the sum of all processes power, without catching up.

![screen-weird-diff cleaned](https://user-images.githubusercontent.com/906428/100629678-7b452b00-3321-11eb-99a8-9876af3165b4.png)

It needs to be investigated, then either fixed if fixable or documented if due to the powercap rapl counters behavio

[2020-12-01 07:58] bpetit opened #21 "Riemann exporter"
It's TCP and protocol buffers, should be okay: http://riemann.io/howto.html#write-a-client

[2020-12-01 07:58] bpetit opened #22 "Warp10 exporter"
GTS input format over HTTP:
https://www.warp10.io/content/03_Documentation/03_Interacting_with_Warp_10/03_Ingesting_data/01_Ingress
https://www.warp10.io/content/03_Documentation/03_Interacting_with_Warp_10/03_Ingesting_data/02_GTS_input_format

[2020-12-01 07:59] bpetit opened #23 "Netdata exporter"
Connection with netdata can be made through bash external plugin module: https://learn.netdata.cloud/docs/agent/collectors/charts.d.plugin
or python external plugin module: https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin

[2020-12-01 14:41] #8 closed, assigned to bpetit

[2020-12-01 14:43] #11 closed, assigned to bpetit

[2020-12-01 16:38] #9 closed, assigned to bpetit

[2020-12-03 16:51] #7 closed, assigned to bpetit

[2020-12-04 09:57] bpetit opened #24 "Measure GPU consumption"
## Problem

Some power hungry use cases rely on GPU. It would be great to propose to measure its consumption from the infrastructure point of view.

## Solution

We can inspire from [codecarbon](https://github.com/mlco2/codecarbon) by using [pynvml](https://pypi.org/project/pynvml/).

## Alternatives

Any other library existing would be worth a look.

## Additional context

The idea is to make eas

[2020-12-04 10:15] #15 closed, assigned to bpetit

[2020-12-04 13:11] #12 closed, assigned to bpetit

[2020-12-04 13:15] #13 closed, assigned to bpetit

[2020-12-07 11:24] bpetit opened #25 "Integrate power consumption estimation on public cloud virtual machines as a degraded mode"
## Problem

Until the cloud provider does install scaphandre on its hypervisors, we should enable cloud customers to estimate their power usage and thus their climate impact.

## Solution

Integrate statistical models like https://github.com/etsy/cloud-jewels for GCP (look for other models) as sensors to enable using scaphandre on cloud providers even if they didn't implement (yet) a scaphandre-li

[2020-12-07 17:34] #6 closed, assigned to bpetit

[2020-12-08 10:47] bpetit opened #26 "Add a --qemu option in prometheus exporter to extract domain/vm name from qemu/kvm process cmdline and make it a label"
## Problem

When running prometheus exporter on a qemu/kvm host hypervisor, we get metrics for qemu/kvm domains/vms as any other processes. Having the vm/domain name attached to the process metric as a label would make creating appropriate grafana dashboards easier.

## Solution

Adding an option to prom exporter, that enables to extract the vm name (if the process cmdline matches the expected qem

[2020-12-08 13:54] #14 closed

[2020-12-09 15:06] bpetit opened #27 "Add --step option to stdout exporter to allow changing time step between measurements"
## Problem

Right now we can't change the step between two measurements of stdout exporter.

## Solution

This can be easily actionable by adding an option that changes the step variable in the runner function in stdout expoter.

See https://github.com/hubblo-org/scaphandre/blob/main/src/exporters/stdout.rs#L55

[2020-12-09 15:47] luiscruz commented on #10
Hi @bpetit do you think this could be a good contribution for a newcomer? I'd be happy to help.

[2020-12-09 15:53] bpetit commented on #10
Hi ! Thanks for your message ! It is a good first issue imho !
Don't hesitate to propose a PR :)

[2020-12-09 15:55] luiscruz commented on #10
Excellent! I'll give it a try next week (hope it fits your plan/time constraints).

[2020-12-09 15:56] bpetit commented on #10
No particular time constraint on that particular topic. Next week is perfect ! Thanks !

[2020-12-10 10:16] jdrouet opened #29 "Add an example of usage with docker (and k8s)"
## Problem

I don't have access to the machines where my applications are running, they run in the "cloud", I can just deploy other containers

## Solution

Deploy a container with the docker socket mounted to monitor the containers

## Alternatives

No idea in mind

## Additional context

It's nowaday's use case for production.

[2020-12-12 09:47] mrchrisadams commented on #25
@bpetit did you imagine this as a kind of synthetic,  'modelled' sensor, that provides numbers based on the detected number of CPUs, RAM and so on?

[2020-12-12 09:50] mrchrisadams commented on #25
There's some work likely to be released by the German Minisitry of the environment in December that will provide some numbers that could inform this, as it's based on actual recorded energy usage figures for a known set of machines:

https://www.umweltbundesamt.de/en/press/pressinformation/video-streaming-data-transmission-technology

However, I haven't seen the underlying data yet.

Although, it

[2020-12-12 16:38] bpetit commented on #29
Hi !

Thanks a lot for that FR. This is a deeper topic than it may sound. To get accurate power consumption metrics we need to have access to the RAPL interface provided by the powercap and intel_rapl modules. In short, we need to have access to the bare metal machine. Scaphandre already enables to get metrics of a virtual machine if the hypervisor is qemu/kvm and runs scaphandre too. This behavio

[2020-12-12 16:47] bpetit commented on #25
Hi,

First, thanks for involving in this project !

I think so. I imagine a sensor that gathers metrics about resource consumption on the machine, plus data/characteristics about bare metal machines running the VM, that the cloud provider accepts to disclose.

I'll have a look at that, thanks !

I'm definitely interested to talk with people from ungleich/datacenterlight to imagine a proof of conce

[2020-12-13 00:09] uggla commented on #27
Please have a look at #31

[2020-12-13 03:45] jhwgh1968 commented on #17
I have considerable cross-language expertise, and was looking for a couple open source contributions to help with. After I spent a little time looking at this, I would offer some thoughts:

1. I don't think the current code in the Sensors module is a good fit for this. For example, `Record` and `Topology` are structs required by the traits, and would need to have equivalents in C for any implement

[2020-12-13 15:13] bpetit commented on #27
This is great, thanks. I answered to the PR.

[2020-12-14 09:01] bpetit commented on #17
Hi,

Thanks a lot for those insights of yours. This is very valuable.

I just added this documentation as a lead to further investigate how to do this feature. It may be in fact overkill as you said. This FR is more intended to be like a discussion thread about the "plugin system" and open to other ideas. Thanks a lot for sharing yours !

This data structures idea is very interesting and seems lik

[2020-12-14 22:36] uggla commented on #21
May I suggest https://github.com/mcorbin/riemann-rust-client
Mathieu (mcorbin) is available on the "compagnon du devops" forum and may help in Rust and Clojure.

[2020-12-15 06:38] jhwgh1968 commented on #17
I agree that exporters would be much more complex to write, and a full plugin system might be worth considering. But as you noted, this was about sensors, so I thought it was overkill.

That is indeed what I understood, when looking at your project. What I was thinking about: even collecting data may need to _call into_ rather than _call from_. Since I have written that, however, I have re-thought

[2020-12-15 09:09] bpetit commented on #21
Of course you can. Thanks a lot for those hints. I'll try to create some interest in Mathieu's mind about scaphandre so that he gives us some help regarding that feature then :D

[2020-12-15 15:15] bpetit opened #33 "Bootstrap an accurate documentation structure"
## Problem

The documentation is still erratic. Potential users may be discouraged by the concepts and current limitations of scaphandre, not because there are there, but because what's implemented and what's not is not clearly explained. Or because they don't find the procedure that suits their needs in the first place.

## Solution

This pattern to structure the documentation on 4 different axis

[2020-12-16 18:03] zwerdlds commented on #29
Hi all, I am cold calling on the help-wanted label here.  I have an initial workup of the docker and docker-compose solution in my forked repo.  I am not yet submitting a PR because I do not think it fulfills the minimum requirements here, but I wanted to let you all review the initial pass and see where I should go from here.  Some notes:
1.  I am simply copying the compiled binary into the syste

[2020-12-17 06:51] bpetit commented on #29
This is great, I'll have a look a that so that we can discuss it. Thanks a lot for the initial work !

[2020-12-17 07:34] bpetit commented on #17
Depending on the architecture of the device's cpu, and because there are many GPU (which scaph doesn't know yet how to monitor), I'd say your suggestion is relevant:

A solution might be to write an RPCSensor to get the data from the python monitoring agent. This is a bit different than the actual rapl sensor, as for now this is the exporter that sets the pace of the data collection (the sensor do

[2020-12-17 07:39] bpetit commented on #27
Thank @uggla this is done !

[2020-12-17 07:39] #27 closed

[2020-12-17 18:28] bpetit commented on #25
I'm investigating on the feasibility to feed a centralized database of processor models per cloud provider that would both benefit from and to scaphandre. If you have access to an instance on any public cloud provider, could you send the content of /proc/cpuinfo in this thread please ? With name of the cloud provider, model of the instance, content of the file ? I'd like to check that this file co

[2020-12-17 18:48] florimondmanca commented on #25
@bpetit Here's what I've got on my personal VM:

* Cloud provider: DigitalOcean
* Model: Basic (Shared CPU, 1vCPU, 1GB RAM)
* cpuinfo:

[code]

[2020-12-17 20:39] jdrouet commented on #25
@bpetit my cloud provider is Ikoula
[code]

[2020-12-17 21:04] florimondmanca commented on #25
https://www.ikoula.com/fr/cloud-public

Oh, offerings seem super nice. VM Micro is basically the same specs and price than my DO droplet. Except Ikoula is French, has servers in the EU, low-carbon, etc… Sweet. :-)

[2020-12-22 09:44] pydubreucq commented on #25
Hi,
I'm VP Bare Metal at Scaleway

I'll give you cpuinfo of our Bare Metal offers

First is our Ultimate Performance Range:

Offer: UP-BM2-XL
CPU: 8 x Intel® Xeon® Platinum 8280 - 128 cores / 256 threads / 2,25 GHz

[scaleway-cpuinfo-up-bm2-xl.txt](https://github.com/hubblo-org/scaphandre/files/5729012/scaleway-cpuinfo-up-bm2-xl.txt)

Offer: UP-BM2-M
CPU: 2 x AMD EPYC™ 7742 - Zen 2 - 224 cores / 4

[2020-12-22 10:36] pydubreucq commented on #25
The second one is Bare Metal General Purpose Range

Offer: GP-BM1-S & GP-BM1-M (Same CPU)
CPU: 1 × Intel® Xeon E3 1240v6 - 4 cores / 8 threads / 3,7 GHz

[scaleway-cpuinfo-gp-bm1-s_and_m.txt](https://github.com/hubblo-org/scaphandre/files/5729304/scaleway-cpuinfo-gp-bm1-s_and_m.txt)

Offer: GP-BM1-L
CPU: 1 × AMD EPYC 7281 - 16 cores / 32 threads / 2,1 GHz

[scaleway-cpuinfo-gp-bm1-l.txt](https://g

[2020-12-22 12:25] bpetit commented on #25
Thanks a lot @jdrouet and @florimondmanca for the data. This confirms most of the time, cloud providers virtual machines's cpuinfo contains enough data to guess the baremetal hypervisor cpu model. This is great to move forward on that feature.

Hi, and thanks a lot @pydubreucq for the data about scaleway's bare metal machines. Even if this thread is more about guessing the consumption in a virtual

[2020-12-22 14:28] bpetit opened #34 "Internal structs/objects are not properly cleaned when verbosity is 0"
## Bug description

Looking at scaphandre internals graph, I notice that when verbosity is 0 (no -v), internal structs for tracking (process, cpustat, records...) are not properly cleaned. It doesn't happen if running with at least -vv (or more -vvv, -vvvv). This is really strange...

Here I ran `scaphandre prometheus -vv` for about an hour. Then killed the process and ran `scaphandre prometheus`

[2020-12-22 14:36] bpetit commented on #34
Fixing it, the short answer is I have been stupid.

[2020-12-22 15:09] #34 closed

[2020-12-22 17:15] pydubreucq commented on #25
Integrate power consumption estimation on **public cloud virtual machines** as a degraded mode

I missed something :) Sorry for the noice :)

I'll try to get there info for Instances.

[2020-12-22 17:38] pydubreucq commented on #25
Scaleway DEV Range

DEV1-S
[scaleway-instance-dev1-s.txt](https://github.com/hubblo-org/scaphandre/files/5731164/scaleway-instance-dev1-s.txt)

DEV1-M
[scaleway-instance-dev1-m.txt](https://github.com/hubblo-org/scaphandre/files/5731260/scaleway-instance-dev1-m.txt)

DEV1-L
[scaleway-instance-dev1-l.txt](https://github.com/hubblo-org/scaphandre/files/5731262/scaleway-instance-dev1-l.txt)

DEV1-XL

[2020-12-22 17:47] pydubreucq commented on #25
Scaleway GP Range (part 1)

GP1-XS
[scaleway-instance-gp1-xs.txt](https://github.com/hubblo-org/scaphandre/files/5731291/scaleway-instance-gp1-xs.txt)

GP1-S
[scaleway-instance-gp1-s.txt](https://github.com/hubblo-org/scaphandre/files/5731292/scaleway-instance-gp1-s.txt)

[2020-12-22 19:22] luiscruz commented on #10
Hi there, just a quick update.
I haven't done this yet because I'm taking some time to learn Rust before doing any PR. (doing all the [Rust by Example](https://doc.rust-lang.org/stable/rust-by-example/) exercises)
Hope this is not an urgent issue. I'd like to keep it in my agenda, if you don't mind.

[2020-12-22 19:41] bpetit commented on #10
No problem, no rush on this task. You can keep it. Thanks for your motivation ! Happy rusting !

[2020-12-22 19:42] luiscruz commented on #10
Thanks! :)

[2020-12-22 21:42] uggla commented on #25
Cloud provider : AWS
Flavor: t2.micro (1vcpu, 1GB)
[code]

[2020-12-22 21:50] uggla commented on #25
Cloud provider : Azure
Flavor: Standard D2s v3
vCPUs : 2
RAM: 8 GiB

[code]

[2020-12-22 22:01] uggla commented on #25
Cloud provider : Ovh
Flavor: B2-7
7 GB RAM
2 vCores (2.3 GHz)
50 GB SSD
250 Mbit/s
Please let me know if you want other flavors.
[code]

[2020-12-23 12:41] mrchrisadams commented on #25
Hi @bpetit,

I'm running a CX41 in the Helsinki datacentre with Hetzner - it's got 4VCPUs, 16gb RAM, and 160gb of RAM.I've got a 1tb block storage device attached to it too. See the attached output.You can see more stats on [their page for their cloud servers](https://www.hetzner.com/cloud).

You said something interesting here:

Would you elaborate a bit more here?

[hetzner.helsinki.txt](https:/

[2020-12-23 13:35] bpetit commented on #25
thanks a lot @pydubreucq @uggla and @mrchrisadams

What I imagine so far is feeding a database of some sort with data that contains the following data and their relationships:

1. cloud provider
2. instance type
3. underlying hardware
4. power consumption profile/characteristics

With what we can learn from the providers you provided data from, 1,2,3 could be easily retrievable automatically from

[2020-12-23 17:12] bpetit opened #35 "Test scaphandre on ARM and document the success or failure and insights"
## Problem

Scaphandre relies on RAPL only for now, so it works on intel x86 and may work on AMD x86 (more use cases needed). ARM use cases are growing in number and it would be great having first insights on the possibility to run scaphandre on such cpus.

## Solution

Look for alternatives to rapl, on ARM. Try something in a new branch, document, discuss.

## Alternatives

I don't know.

## Addi

[2020-12-25 03:29] lucabeetz commented on #35
I just got an Apple M1 so maybe I could test it on that machine in the following days.

[2020-12-25 06:55] bpetit commented on #35
Hi ! Thanks a lot, that would be great. However you may have a double difficulty as we didn't start any development for macos. It would be interesting to dig on both arm and macos scenarii but just to mention.

[2020-12-27 04:16] MikeTheSapien commented on #35
@bpetit I have a Raspberry Pi 4. I want to help, I can test this repo in a week on RaspPi, but I’m really a novice in contributing to open source, having a hard time reaching out to people in different repositories I liked. I did to most the same to what I’m doing here, sending a message in the open.

Do I have to do something here or click or say or post somewhere to say that I will tackle this i

[2020-12-27 07:12] bpetit commented on #35
Hi ! This is great, thanks for your motivation ! :grinning:
your message is enough to say that you'll work on it. It may be a tough one, as nothing has been done ore researched about arm and its capacities or not to measure power consumption. It could also be a dead end (we could fallback on an estimation-like feature then). I think it would be great that every people working on posts updates ln t

[2020-12-28 09:09] bpetit commented on #29
Hi ! I jump back to your contribution after a family vacation week !

It needed some changes to make it work.

I didn't manage to make it work with the alpine based image. It seems this is because rust executables are dynamically linked:

So you need those libraries in the container image. I changed the dockerfile base image to `rust:latest` which includes those libraries as far as I can tell, and

[2020-12-28 11:17] bpetit commented on #33
Having some battling thoughts in my mind about what would me most accurate to display and make that documentation accessible, I note that here: https://blog.logrocket.com/top-3-rust-static-site-generators-and-when-to-use-them/

- [mdBook](https://github.com/rust-lang/mdBook)
- [cobalt](https://github.com/cobalt-org/cobalt.rs)
- [zola](https://github.com/getzola/zola)

[2020-12-29 14:33] mrchrisadams opened #38 "Clarification: *process* level power usage stats or *processor* level stats ?"
## Problem

Hi there, I'm trying to understand what level of detail scaphandre is able to expose  if you have it running on a host machine with the necessary RAPL capabilities.

From earlier conversations, I thought that scaphandre was designer to provide power usage stats at a per-process level.

When I refer to processes, I'm talking about a running process, often with a PID, that you might see

[2020-12-29 17:34] bpetit commented on #35
About macos and m1: don't know how much but this should be good news: https://github.com/rust-lang/rustup/issues/2413

[2020-12-30 13:58] mrchrisadams commented on #35
I've looked around, and as far as I can tell, there is no common tool for measuring power usage using only software for the Pi at least. Apple do have tools for the rest of their machines, but I don't have access to check.

### Raspberry Pis

I have a raspberry Pi, that I'm running locally, and pretty much every guide mentions using hardware to track it.

This academic paper from from 2016 on Rese

[2020-12-30 17:35] bpetit commented on #33
I'm working on a documentation structure, like the one described in the beginning of the thread, using mddocs to render.

I've opened a new branch for that: https://github.com/hubblo-org/scaphandre/tree/feature/%2333-Bootstrap-an-accurate-documentation-structure
Result can be seen here: https://hubblo-org.github.io/scaphandre/

This is a WIP, but I'd enjoy some feedback from other contributors or

[2020-12-30 18:23] bpetit commented on #38
Hi, It is possible, by combining the process stats from `/proc/stats` and the measurements at the cpu socket level. You need then a ratio between the time spent by the CPU socket doing something for the process and the time spent by the CPU socket doing something (for whatever). Then you multiply this ratio with the power consumption of the socket. This is how process level comsumption is computed

[2020-12-30 18:37] uggla commented on #26
@bpetit, looking at that one. If it is ok for you.
If i try to rephrase the above sentence to make sure I understand correctly.
The goal is, if `--vm` is passed to the cmdline, then add a label with the vm hostname to the prom metrics. Is that correct ?

[2020-12-30 21:19] mrchrisadams commented on #38
OK, that's pretty smart.

Let me see if I can understand it, after reading a bit more about `/proc/stats` Rust's procfs crate.

So this bit here, where the hubblo dashboards are showing that python3 inside awx is using 0.739W:

![Screenshot 2020-12-30 at 21 31 14](https://user-images.githubusercontent.com/17906/103379587-69a0a000-4ae6-11eb-91b0-0325e8796c2a.png)

You're doing this by keeping a run

[2020-12-30 21:33] mrchrisadams commented on #38
Oh hang on, I think I'm looking at it the wrong way - after a bit more googling, and reading the code, I'm assuming each process listed in `process::all_processes()` has some information listing how many Jiffies (Linux's measurement of process time, I think) that it's been using.

If you know how many process jiffies have been worked on over a set amount of time, and you know how many processes an

[2020-12-31 08:58] bpetit commented on #26
Hi, of course, thanks for that !
It was more about the opposite. When you run the prometheus exporter on a Qemu/kvm hypervisor, the idea would be to tell scaphandre it is an hypervisor with a flag, to ask the prometheus exporter to add a label with the name of the vm on process-level metrics, when this process is in fact a vm. This needs basically some parsing of the exe and cmdline fields that al

[2020-12-31 10:42] bpetit commented on #38
You got it right. `/proc/stats` contains the statistics of the CPU usage. `/proc/PID/stats` contains the CPU usage statistics for a given PID. The [procfs](https://docs.rs/procfs) crate gives access to those metrics. `process::all_processes()` does return the list of running processes iirc.

So what scaphandre does in the current implementation of the powercaprapl sensor is collecting those statis

[2020-12-31 13:02] mrchrisadams commented on #38
OK, I've made a few diagrams to help check my understanding of this and represent the some of key ideas,

I think after some more polish, and once we've added the correct names of the domain objects above, they might be helpful for others to get their head around the key concepts.

If you can add some comments or check that the general ideas are correct here, I can turn this into a page for the ne

[2020-12-31 13:47] bpetit commented on #38
This is pretty amazing what you have done already to explain the principles, thanks a lot for sharing this ! This is really good work.

I try to figure out how to best articulate those pieces of explanation in the documentation. I think that's great that you started at the simplest level, explaining a bit about processes scheduling. What i'm not sure about is how many "levels" of explanation we sh

[2020-12-31 14:14] mrchrisadams commented on #38
Glad you like it :)

Hmm… now that i think it over, I think the key idea that attracted  me to Scaphandre was the idea of being able to get process-level stats for power usage, and by extension, understanding the carbon emissions from compute in a way that technologists can act directly on.

This is a level of detail I didn't know was possible, but had been looking for, for at a couple of years at

[2020-12-31 14:29] bpetit commented on #38
We have kind of the same idea about that :)

I agree, there is a lot of communication work to do on top of that to make it impactful. Your help on this is very much appreciated.

No worries, you choose if, and when you want to engage in the project of course. Thanks for noticing that you are interested in contributing, this means a lot.

I'm currently working on a branch for the new documentation

[2020-12-31 15:21] uggla commented on #26
Thanks it looks clearer now, I was completely wrong. :)
So intention is to add a label to qemu processes on the hypervisor to know which vm has the highest cosumption.
Currently I have this output metrics as an exemple:
[code]

So the idea would be to have:
[code]
Is that correct ?

[2020-12-31 15:28] bpetit commented on #26
Yes, this is the idea ! :)

[2020-12-31 16:28] zwerdlds commented on #29
@bpetit yeah, alpine has always been a pain for me with rust - I guess I was was trying too hard to be hip.  sorry about that.
rust:latest makes more sense.

I'll make the mentioned change wrt building in-container.  I don't usually worry about the docker build times, and I have no experience with chef so I'll get a poc up and we can go from there.  I've done some other stuff to reduce dependency

[2021-01-02 18:17] uggla commented on #26
Please look at #41

[2021-01-02 23:16] uggla commented on #21
@bpetit, I have made a quick test with the rust-riemann_client and it works fine. By the way I have discovered riemann that I never used before.
The client looks pretty simple to use.
So if it ok for you I can take this issue and create the riemann exporter trying to mimic what you did with the prom one.

[2021-01-03 10:20] bpetit commented on #21
Hi, of course ! Give it a try !

The prom exporter code may be useful about getting metrics from the sensor, but I guess it won't be regarding the way to ship the metrics, as it should be a push mode here instead of a pull one.

(Just remember that it's the exporter that asks the sensor to collect and store metrics, so you are in control regarding the periodicity and conditions of metrics storage

[2021-01-03 21:50] uggla opened #43 "Add cargo test --all in CI"
Add `cargo test --all` in the CI to check all tests are working and avoid regressions.

[2021-01-04 09:22] bpetit commented on #43
Hi,

We can't simply do that. Github actions are running on virtual machines, so the tests based on the powercap rapl sensor will fail. I've setup a CD (awx) endpoint with a bare metal worker, I'll try to link the CI to it soon.

[2021-01-05 08:54] uggla commented on #21
@bpetit, FYI, I made good progress on that topic. Normally, I will be able to send you a PR soon.

[2021-01-06 09:33] uggla opened #44 "scaphandre prometheus does not display self_cpu_usage_percent"
## Bug description
scaphandre prometheus does not display self_cpu_usage_percent

## To Reproduce
Simply run scaphandre prometeus

## Expected behavior

Metric available

## Screenshots
This is the metrics page on my system, you can not find "self_cpu_usage_percent" below.
[code]

## Environment

- Linux distribution version: Fedora 32
- Kernel version (output of `uname -r`): 5.9.16-100.fc32.x86_6

[2021-01-06 09:36] uggla commented on #43
@bpetit, if it can help, I have a bare metal server, I can create a ssh account for you.

[2021-01-06 11:06] bpetit commented on #43
Thanks. I have a machine setup. I just need to link github events to awx webhooks. I hope I'll make it work in a few days.

[2021-01-06 15:07] rossf7 commented on #29
Hi @bpetit & @zwerdlds,
I've been wanting to try this out since @mrchrisadams told me about Scaphandre in the climateaction.tech slack.

I'm new to Rust but I've got a multi stage Docker build here. https://github.com/giantswarm/scaphandre/blob/helm-chart/Dockerfile It uses cargo to build the image and ubuntu:20.04 for the final image which is 138Mb uncompressed so not too big.

I initially tried

[2021-01-06 17:33] bpetit commented on #29
This is great. I'm about to [merge the "new" documentation](https://github.com/hubblo-org/scaphandre/pull/45) and I'd like to include what's related to run scaphandre in a container and on kubernetes if possible. So I'll wait a bit to merge that we end up with something satisfying here.

I'll try the image and jump back to the discussion. Thanks a lot for sharing this work.

[2021-01-06 18:20] luiscruz opened #46 "Cannot build using Mac OS"
## Bug description

Cannot build using Mac OS.

## To Reproduce

`cargo build`

## Relevant Output

[code]
## Environment

- Mac OS 10.15.7
- Kernel version: 19.6.0

## Context

I have just realised that this project is targeting linux distributions only. That kinda makes sense from a production perspective. From a dev perspective is quite limiting. Any ideas?

[2021-01-06 20:11] Pixep opened #47 "Broken tutorial link on website homepage"
## Bug description

On the page https://hubblo-org.github.io/scaphandre/index.html, the `tutorials` link points to a 404
https://hubblo-org.github.io/scaphandre/tutorials/overview.html

## To Reproduce

Navigate to the website, and click the link of course :)

## Screenhost

![image](https://user-images.githubusercontent.com/18591372/103815493-490da400-5018-11eb-9245-22e198fc627d.png)

[2021-01-07 07:09] bpetit commented on #47
Hi,

Thans for the warning. It seems to me this may due to some old cache as this page has been moved. If I go the doc I don't see it as a link.

Please note that the doc is still being built and not yet merged in master. So some changes should still be mde before it happens.

[2021-01-07 07:15] bpetit commented on #46
Hi,

Thanks for the try. This was somehow expected. The powercaprapl sensor is based on a linux kernel module. We will need to create a new sensor for mac os I guess. Discussions about that have started in the ARM related issue (about apple m1) that may be redundant but just to mention.

I have an old macbook air somewhere so I may start digging on that topic but not before february/march. If anyo

[2021-01-07 11:41] luiscruz commented on #46
I'd be happy to help but that might be a bit too much for me…
Still, it feels like it should be possible to build without having a Mac OS sensor ready. I can imagine that a Mac OS sensor will not be compatible with Linux, but it should still be possible to build it on a Linux machine.

[2021-01-07 11:41] mrchrisadams commented on #46
Hi @luiscruz I looked into some of this myself over the holidays.

My notes are here for OS X, but the TLDR is that if we want RAPL data, we likely need to look for the output from apple's `powermetrics` cli command.

https://github.com/hubblo-org/scaphandre/issues/35

[2021-01-07 13:51] mrchrisadams commented on #46
Ah, here's what you can get out. You can access the RAPL code with a command like so:

[code]

this runs powermetrics, pulling out only the cpu_power info, and formats it as a dialect of XML (the `--format plist`) bit, taking a sample for 2 milliseconds, and doing it once.

I can't see a way to read a stream of info through :(

[2021-01-07 14:47] florimondmanca commented on #46
FWIW I just realized I'm oftentimes using [CoconutBattery](https://www.coconut-flavour.com/coconutbattery/), which is a macOS utility to view battery state and usage. It has a "show watt usage" thing. I'd be curious to know how it does that. It doesn't seem to be open source (hmm… should I be using it then? 😝), but the author's email is at the bottom of the landing page. (I don't know their github

[2021-01-07 15:28] bpetit commented on #29
I built and ran your [image](https://github.com/giantswarm/scaphandre/blob/helm-chart/Dockerfile) successfully with the following command line:

[code]
I just preferred the 8042 port number to not collide with my local un-contained scaphandre version. I added volumes for the required files and everything seems ok, I'll just wait a bit to see if the metrics seems accurate on the long run.

Mounting

[2021-01-07 15:52] bpetit commented on #46
Great to see there are userspace tools that get such metrics, this is a good sign !

Looking at your message @florimondmanca I just want to mention that battery based metrics, may be a bit different than rapl. Like building a macos sensor based on battery metrics wouldn't work on a mac mini server for instance. It's not necessary an issue, if we name the sensor appropriately and document it to ind

[2021-01-07 15:53] bpetit commented on #46
@luiscruz yes maybe we could build. But the powercaprapl sensor being the only available right now it wouldn't be very helpful for mas users to have a binary that gets no metrics :/

[2021-01-07 16:01] bpetit commented on #29
It seems alright:

![2021-01-07_16-59](https://user-images.githubusercontent.com/906428/103914278-7d10c400-5101-11eb-9bf8-abfd2cdf46ab.png)

[2021-01-07 16:06] mrchrisadams commented on #46
So, on OS X there is this:

https://github.com/beltex/dshb - a nice open source CLI exposing the similar stats as coconut battery.

Under the hood, that uses this library, in Swift:

https://github.com/beltex/SystemKit

And that in turn uses an open sourced library from apple:
https://opensource.apple.com/source/PowerManagement/

And this issue here  in system kit is about where I ran out of steam

[2021-01-07 16:59] bpetit commented on #44
Hi,

I do get the cpu usage metric on my laptop and on a testing server. I see that you have a pretty recent kernel compared to mine (5.4). We are using an already outdated version of procfs in `Cargo.toml`:

`procfs = "0.8.1"`

Could you try updating the version of procfs (0.9.1 seems available), rebuild the project and try to see if the metrics pops up ?

[2021-01-07 22:47] uggla commented on #44
Unfortunately using 0.9.1 it does not compile.
I tried to spend a short amount of time to fix the below issues, mainly fixing type mismatch.
But I was stuck with the trait def `impl Clone for CPUStat ` requiring a  tps private field. I think it will require more time than I expected to fix them.

[code]

[2021-01-08 14:51] bpetit commented on #44
There is important [breaking changes in the 0.9](https://github.com/eminence/procfs/releases).

This is actually about the units used to track CPU usage per process. We need some refactoring in the powercap rapl sensor to make it work.

I'm not even sure that your particular issue is due to a mismatch between the kernel version and the procfs code in **0.8.1**.

Maybe there is something more to be

[2021-01-09 17:08] rossf7 commented on #29
Hi @bpetit,
we didn't get a chance to re-install the node this week. But I had some time today and I found a different way to test.

I'm using [Equinix Metal](https://metal.equinix.com/) which I've used before back when they were Packet.net. Their c3.small.x86 servers can be rented for 50 cents an hour, have REPL support and are working for testing.

I've got the Helm chart working but I want to i

[2021-01-10 23:25] uggla commented on #44
I found the issue ! And I'm stupid !
Simply the problem is appearing the first time you get the page. Then refreshing the page it shows the cpu consumption.
I think you just need to have have scaphandre records to compute the cpu usage.
Sorry to have waste your time.

[code]

[2021-01-10 23:28] uggla commented on #21
@bpetit, progressing, I'm just missing the processes values now.
I had a lot of work last week, so I could not finish it. Hopefully that should be ok soon for a first version.
![image](https://user-images.githubusercontent.com/2332209/104138337-bec09980-53a3-11eb-96fd-8c3f237d3230.png)

[2021-01-11 07:46] bpetit opened #49 "Documentation of feature to enable sending the metrics to https://vector.dev/"
## Problem

Vector seems like a very good candidate for a modern infrastructure logs and metrics shipping. It is written in rust as well.
Scaphandre cannot leverage it yet to ship metrics.

## Solution

It would be very interesting to have it as a possible exporter, or at least write a piece of documentation (as it seems very flexible and could adapt to scaphandre somehow and may not require that

[2021-01-11 08:45] bpetit commented on #44
Hi, it's alright !
It made me discover that there is some work to do to update procfs 👍🏽 😄
You are right, some metrics return nothing the first time they are called, because the buffer is empty and they are computed from metrics stored in buffers.
I close this one then !

[2021-01-11 08:45] #44 closed

[2021-01-11 08:48] bpetit commented on #21
This is great ! Thanks a lot for the great work 😃
No worries, that's perfect anyway. I'm very excited about using that feature !

[2021-01-11 09:32] bpetit commented on #29
Dockerfile PR is merged. I'll add the relevant documentation in my PR and merge it too.

I'm available if needed to help on the kubernetes use case. Thanks for your work !

[2021-01-11 09:38] bpetit opened #50 "Improve scaphandre to be usable as a library/crate"
## Problem

Scaphandre has mostly been thought as a cli tool/daemon until now.
It is usable as a crate but the track is not tagged.

## Solution

Improve code documentation and add a tutorial in the docs to use scaph from a rust program.

## Alternatives

Not an alternative but a potential helper: write an exporter that should  be the privileged interface to get metrics from scaph.

## Additional

[2021-01-11 12:31] bpetit commented on #29
What do you (all) think about [that](https://hubblo-org.github.io/scaphandre/tutorials/quickstart.html) as a quickstart tutorial to run scaphandre using docker ?

[2021-01-12 10:06] bpetit commented on #35
This may be useful: https://developer.arm.com/solutions/internet-of-things/languages-and-libraries/rust

[2021-01-12 12:52] mrchrisadams opened #52 "Add support for firecracker vms in addition to qemu/kvm"
## Problem

If you are using other virtualisation technology like Firecracker, you can't use scaphandre to get an understanding of the power draw from the VMs you spin up that use it.

Firecracker is in used in a lot of places - in addition Amazon's own Serverless offerings, it's in all the options below:

## Solution

Figure out a way to expose the same kind of information to guest micro-vms as t

[2021-01-12 13:35] bpetit commented on #47
@Pixep do you see the documentation correctly now ?

[2021-01-12 14:05] bpetit opened #53 "Allow to easily and locally test scaphandre with dashboards"
## Problem

It would be great to be able a full scaphandre-based scenario locally, in one command.

## Solution

We already have a docker image for scaphandre. I imagine we could provide such an option with a proper dockerfile that runs scaphandre, grafana and prometheus locally. It would also require to automatically do some configuration on prometheus and grafana:
- feed prometheus.yml used by t

[2021-01-12 14:07] bpetit commented on #29
From the initial discussions I identify another use case around docker, to help testing scaphandre with dashboards easily and realize what it provides in the end of the stack. I opened a new FR for that (it's about docker-compose, grafana and prometheus, plus some automation): https://github.com/hubblo-org/scaphandre/issues/53

[2021-01-12 15:48] bpetit commented on #29
[This](https://github.com/fussybeaver/bollard) may be useful for the initial definition of the FR (which has a bit "evolved" since). At some point it will be needed for scaphandre to track the state and power consumption of the containers as such (and not only by filtering by processes to get the right data). So it will need to talk to the docker daemon (even if it's only one use case among the ga

[2021-01-12 19:22] Pixep commented on #47
Hey, still the same issue. But I believe it is more a broken link issue on the home page, because the links from the home page work fine. This one, however (`here` link on the homepage), redirects to something that doesn't exist (anymore?)

[2021-01-13 08:07] bpetit commented on #47
It should be better now. Could you confirm ? :)

[2021-01-13 15:52] bpetit commented on #17
Found that additional ressource, that may be interesting: https://sixtyfps.io/blog/expose-rust-library-to-other-languages.html
(or not ? let's see)

[2021-01-13 17:33] Pixep commented on #47
Yes, much better, thanks!

On Wed, Jan 13, 2021 at 12:07 AM bpetit <notifications@github.com> wrote:

[2021-01-14 06:46] bpetit commented on #47
Thank you !

[2021-01-14 06:46] #47 closed

[2021-01-14 06:49] bpetit commented on #52
That is very interesting. I may work on this in march the soonest. If someone wants to jump on it before that, please do ! :blush:

[2021-01-14 13:52] bpetit commented on #26
Merged ! Thanks :)

[2021-01-14 13:52] #26 closed

[2021-01-14 20:14] barnumbirr opened #55 "scaphandre doesn't work on AMD Zen"
## Bug description
Trrying to get `scaphandre` running on AMD Zen (Ryzen 5 Pro 2500U) results in thread panic.

## To Reproduce

- Install `msr-tools`
- run `scaphandre stdout -t 15`

Output:
[code]

## Expected behavior
`scaphandre` should work [as AMD RAPL support was added to kernel 5.8](https://www.phoronix.com/scan.php?page=news_item&px=AMD-Zen-RAPL-Linux-5.8) and `perf` seems to return sensi

[2021-01-14 20:14] barnumbirr opened #56 "scaphandre doesn't work on AMD Zen"
## Bug description
Tried getting `scaphandre` running on AMD Zen (Ryzen 5 Pro 2500U) results in thread panic.

## To Reproduce

- Install `msr-tools`
- run `scaphandre stdout -t 15`

Output:
[code]

## Expected behavior
`scaphandre` should work [as AMD RAPL support was added to kernel 5.8](https://www.phoronix.com/scan.php?page=news_item&px=AMD-Zen-RAPL-Linux-5.8) and perf seems to return sensible

[2021-01-14 20:16] barnumbirr commented on #56
Github somehow returned a 404 after creating the first issue (see #55). Refreshing the package and resubmitting resulted in yet another 404 but both issues were created successfully (go figure 🤷).
Apologies for the noise.

[2021-01-14 20:16] #56 closed

[2021-01-15 09:39] bpetit commented on #55
HI ! Thanks for reporting.

It seems we have to check for different modules if the cpu is from AMD.
I note here a post about some modules that might be the ones we have to check for: https://www.phoronix.com/scan.php?page=news_item&px=AMD-Energy-Driver-Working-Well

Investigations to come.

[2021-01-16 12:51] lucabeetz commented on #35
Hey, sorry for being inactive in the past weeks. University has started again but I'll try to continue testing this as soon as possible.

[2021-01-16 19:32] kamaradclimber commented on #55
Same error with "AMD Ryzen 5 2600X Six-Core Processor" (perf also reports data).

Here is the full output with the correct option:

[code]

[2021-01-17 18:01] Mathieu-Coupe commented on #19
Same issue, but much more frequent.

![image](https://user-images.githubusercontent.com/1534517/104851588-3b003300-58f6-11eb-86dd-6a5cd45d8cf1.png)

[2021-01-17 19:02] bpetit commented on #19
Who, super strange :flushed:
thanks for reporting !

[2021-01-17 19:02] bpetit commented on #19
what is the exact request you used for your graph ?

[2021-01-17 22:47] uggla commented on #21
Please look at #58

[2021-01-18 07:53] Mathieu-Coupe commented on #19
[export.zip](https://github.com/hubblo-org/scaphandre/files/5828593/export.zip)

I've clone the grafana dashboard and updated one of the "X power consumption" graph to :

I've narrowed the filter to

meaning that the processes that generate these high power are the "/lib/systemd/systemd --user" that are the root of one user session.

I've attached an export generated by the grafana query inspector

[2021-01-18 08:55] bpetit commented on #19
Could you paste your CPU model from /proc/cpuinfo, the result of `uname -r` and you linux distribution and its version please ?

[2021-01-18 08:58] bpetit commented on #55
Hi,

Thanks for reporting ! I'll create a PR for that. If you could test it, once its there and before merging, it would be great !

[2021-01-18 17:21] Mathieu-Coupe commented on #19
This is a Ubuntu 20.10 distro running on a Core i3-7100. This processor has a TDP of 51W.

[2021-01-19 08:33] frntn opened #59 "thread 'main' panicked at 'Couldn't find intel_rapl modules.'"
## Bug description

Unable to start `scaphandre`

## To Reproduce

[code]

## Expected behavior

The container starts and write data on stdout

## Screenshots

[code]

## Environment

- Linux distribution version
[code]
- Kernel version
[code]

## Additional context

Proc reference : https://ark.intel.com/content/www/fr/fr/ark/products/87038/intel-xeon-processor-d-1520-6m-cache-2-20-ghz.html

[2021-01-19 11:23] bpetit commented on #59
Hi,

Thanks for reporting. What is the ouput of `lsmod | grep intel_rapl` ?

[2021-01-19 22:44] PierreRust commented on #29
I'm not sure it really belongs to that FR (which is actually pretty wide and covers in may opinion several different things) , but I have in my fork a simple stack that could be used as an example in the doc :
https://github.com/PierreRust/scaphandre/tree/feat/sample_stack_with_docker-compose

It simply uses docker-compose to run scaphandre, prometheus and grafana in a single step. Prometheus is a

[2021-01-20 06:49] bpetit commented on #29
This is awesome. That's what I meant with the FR #53. Opening a pr and attaching it to #53 would be :heart_eyes:

[2021-01-20 10:09] sylvainOL opened #60 "OpenStack support"
## Problem

it seems quite complicated to use scaphandre in a VM according to https://hubblo-org.github.io/scaphandre/how-to_guides/propagate-metrics-hypervisor-to-vm_qemu-kvm.html.
a manual solution is provided but unfortunately not an "automated" one for OpenStack

## Solution

Create documentation to explain how to achieve the "automated" creation for OpenStack.

From the documentation, I belie

[2021-01-20 11:01] bpetit commented on #60
Hi. This is a great topic as it's very much needed. Thanks for opening the FR. Any support on this, notably on providing a testing environment (as openstack as some relativetly important requirements), would be appreciated.

[2021-01-20 12:31] sylvainOL commented on #60
Hi @bpetit, we do have openstack that we're managing, so we can help in this area.
testing / amending started doc is also possible

[2021-01-20 13:57] frntn commented on #59
Hello,

No output for this command
[code]

If I try to load the module I get an error
[code]

But some related files do exist
[code]

[2021-01-20 15:27] bpetit commented on #59
Could you try a `modprobe intel_rapl_common` and `modprobe rapl`

[2021-01-20 16:08] frntn commented on #59
[code]

Additionally :
[code]

_"Is this real life ?"_ 😅

[2021-01-20 18:09] bpetit commented on #59
I'm on ubuntu 20.04.1 too but I guess there is something different in your setup as I dont have the `modules.order:XX`-like folders you have:

[code]

I don't know where it could come from 🤔

I'm honestly on try and fail mode here, what happen if you manually insmod one of those .ko files available ?

# insmod /lib/modules/5.4.0-62-generic/modules.order:3782:kernel/drivers/powercap/intel_rapl_comm

[2021-01-20 18:16] bpetit commented on #59
@uggla just made me realize you may have to install the `linux-modules-extra-$(uname-r)` package !

?

[2021-01-20 19:42] frntn commented on #59
Spotted ! 🥳

[code]

Thank you @uggla & @bpetit 💪

[2021-01-20 19:42] #59 closed

[2021-01-21 08:25] uggla commented on #60
First a short disclaimer, I used openstack a lot. But it was ~4 years ago. As a lot of FLOSS software it has evolved and I have not followed it. So what I will write here needs to be verified.

1. Installing scaphandre on the hypervisors is not an issue it coud be done using any automation tool.
2. @sylvainOL , you set the problem. Mounting the tmpfs on the hypervisor and more over configuring the

[2021-01-21 09:49] bpetit commented on #59
Great !

It's still strange that you have "traces" of the kernel modules, if you never installed the package before 🤔

If someone has a clear understanding on why it may happen I'm interested ! :)

[2021-01-21 12:58] PierreRust commented on #20
My guest is that the issue does not comes from rapl measurement but from the way this power is splited among processes. I suspect the way cpu % usage for processes is computed can cause the sum of cpu usage to be greater than 100% ( x cpu count), and thus leads a sum of  power greater than exposed by rapl.
I had a quick look at the way this cpu usage is computed and I cannot really say what would

[2021-01-22 10:44] bpetit commented on #20
That's interesting. I don't have a real difference on my laptop. On metrics.hubblo.org, there are some differences, but not especially higher, but also lower. It made me think that there may some differences tetween the metrics given by RAPL from one CPU model to another.

I never had a "constant" different pattern than you have. It would be very interesting to compare different cases.

I think ab

[2021-01-27 08:03] #16 closed

[2021-01-27 08:22] bpetit opened #63 "Remove docs/ output from the source code"
## Problem

I've added the generated static html documentation from mdbooks in the source code to release fast. This is highly inconvenient as it pollutes the pull requests reviews with conflicts. Those are easy to deal with, by cleaning docs and running mdbooks build, but are still disturbing.

## Solution

Create workflow to build the documentation in a separate repository, handled by github pag

[2021-01-29 17:41] bpetit commented on #55
It seems possible that a 5.11 kernel be required: [https://www.phoronix.com/scan.php?page=news_item&px=AMD-Zen-PowerCap-RAPL-5.11](https://www.phoronix.com/scan.php?page=news_item&px=AMD-Zen-PowerCap-RAPL-5.11)

I don't see quite clearly the requirement right now for AMD. I'll create a PR that just avoids panicking if the intel modules are not found. This way you could tell me what happens next. (

[2021-01-29 17:49] bpetit commented on #43
This is done, running cargo build, stdout -t 2 and cargo tests --all on all PRs.

This surely can be improved. It's running on an AWX instance. The playbook related to the actions job is [there](https://github.com/hubblo-org/ansible-scaphandre/blob/master/validate_gh.yml).

[2021-01-29 17:49] #43 closed

[2021-01-29 17:51] bpetit commented on #21
Done and merged. Thanks a lot @uggla !

[2021-01-29 17:51] #21 closed

[2021-01-29 18:20] bpetit commented on #55
Could you build and try with this version: https://github.com/hubblo-org/scaphandre/pull/65 ?

🙏🏽

Let's see what happens and start from there :)

[2021-01-29 20:22] kamaradclimber commented on #55
`RUST_BACKTRACE=1 ./target/debug/scaphandre  stdout `

[code]

[2021-02-01 10:51] bpetit commented on #20
I got the same pattern as you did on other cases (sometimes, the pattern changes over a long period of time too). I'll try to work on that next week. Do you have some resources to share about best practices on splitting the consumption across processes ? I'd like to reflect and discuss on what could be the best way to be more accurate, while staying light and simple.

For the record, I thinks we s

[2021-02-02 08:48] bpetit commented on #46
That may be a good news for developing scaphandre support on the m1:

![2021-02-02_09-46](https://user-images.githubusercontent.com/906428/106574871-5775af80-6533-11eb-8583-049037dc9030.png)

[2021-02-02 09:00] bpetit commented on #55
I'm looking for a hosting or cloud provider to get an AMD zen testing machine, but I'm having a hard time finding an offer at a reasonable price. Do you know some ? Or do you have such a machine available for test on the Internet by any chance ?

[2021-02-02 09:38] bpetit opened #66 "JsonExporter to investigate remote bug patterns, or enable specific post processing"
## Problem

When we encounter a unusual buggy pattern on a specific host we don't have access to, we don't have yet a way to ask for data that could lead us to the solution.

## Solution

Create a JsonExporter to extract the data got from the sensor in json files, to allow further investigations or post-processing (could be useful to develop scripts based on scaphandre data).

## Alternatives

May

[2021-02-02 09:43] bpetit commented on #66
@wallet77 I think you had a use case about that. Let's merge efforts as soon as you have time for that :)

[2021-02-02 09:44] bpetit commented on #19
To investigate further on this bug we will need data I guess. I opened an FR to be able to extract this data: https://github.com/hubblo-org/scaphandre/issues/66

Stay tuned

[2021-02-02 10:08] wallet77 commented on #66
@bpetit I can start to work on it this week.

[2021-02-02 16:10] wallet77 opened #67 "[DOC] Add compiler instruction in installation process"
## Problem

When I followed the steps to install/compile the project I got this error:
[code]

## Solution

Just install a gcc compiler:
`sudo apt install build-essential`

We should add this information in the doc.
I will take care of it soon ;)

[2021-02-03 10:33] bpetit commented on #55
I may have found one thanks to @airclovis

https://www.skysilk.com/amd-epyc-servers/

[2021-02-03 10:52] barnumbirr commented on #55
You'd probably run into the same issue with Hetzner `CPX` instances, don't think they're bare metal. :unamused:
My machine are unfortunately not available on the Internet.

[2021-02-03 11:03] kamaradclimber commented on #55
If you are interested in testing on "AMD Ryzen 5 2600X Six-Core Processor", contact me at grego_scaphandre@familleseux.net and I'll provide you an access to a server.

[2021-02-03 11:17] bpetit commented on #55
I may give it a try and I'll send you an email, thanks !

However I'm looking for a cloud/hosting offer too in order to integrate tests on amd in PR checks.

[2021-02-03 13:28] bpetit opened #69 "Migrate to procfs 0.12.0"
## Problem

Procfs 0.9.0 includes breaking changes compared to 0.8.1: https://github.com/eminence/procfs/releases/tag/v0.9.0

## Solution

Adapt the powercap rapl sensor to be able to keep up with the procfs upstream.

[2021-02-08 10:10] uggla commented on #63
I think it is better to keep the doc, part of the repo.
By the way we can move the pictures at the root of the project into a images folder. Root will be cleaner.

[2021-02-08 11:31] bpetit commented on #10
It seems like this feature will be redundant with the new JsonExporter:

- [PR](https://github.com/hubblo-org/scaphandre/pull/68)
- [FR](https://github.com/hubblo-org/scaphandre/issues/66)

@luiscruz would you like to jump on this PR and help review it instead ?

[2021-02-08 11:31] #10 closed

[2021-02-08 16:25] rossf7 commented on #29
Hi @bpetit it took longer than I'd hoped to get back to it. But I just opened a PR with a Helm chart and a tutorial for installing scaphandre as well as prometheus and grafana via helm.

https://github.com/hubblo-org/scaphandre/pull/72

I hope it's useful. There is also a k8s dashboard based on the one you have at https://metrics.hubblo.org/

[2021-02-08 16:32] bpetit commented on #55
I'll start some tests thanks to @kamaradclimber generous offer.
After that, I may have a look to those offers from hertzner that are the most affordable ones I found for dedicated machines with AMD Zen cpus so far.

[2021-02-08 16:37] bpetit commented on #29
This is amazing, thanks a lot !
I'll have a look at that and merge once tested (can't wait to see it running on a k8s cluster 🥳 )

[2021-02-09 11:11] rossf7 commented on #29
Thanks @bpetit my testing went well. The main problem I had was getting grafana to load the dashboard for the tutorial! 😄

I found that with the combination of the exe label from scaphandre and the kubernetes_node label from prometheus you could get a lot of useful info.

It might be useful to also have the kubernetes pod and namespace but I'm not sure how to get that without some k8s specific cod

[2021-02-09 13:38] bpetit commented on #29
Very interesting, thanks. I think at some point we will add code for specific scenarii (we already did with the --qemu flag in the prometheus exporter for example.) So why not having some features to help properly tag and filter data coming from kubernetes cluster and its objects.

[2021-02-09 17:39] bpetit commented on #66
First version is working and merged. Thanks a lot @wallet77 !
Let's open new issues for more specific needs on that exporter and further enhancements !

[2021-02-09 17:39] #66 closed

[2021-02-12 14:57] bpetit commented on #29
Hi,

I just merged https://github.com/hubblo-org/scaphandre/pull/72 thanks lot @rossf7 !!!

As this thread contains a lot of stuff, i'll sum it up here. We have basically 4 topics that have been addressed:

1. having a working docker image, this is done since https://github.com/hubblo-org/scaphandre/pull/48
2. having a helm chart/working configuration to install scaphandre on a kubernetes/cluster'

[2021-02-12 14:57] #29 closed

[2021-02-18 14:47] maximeperrault opened #73 "thread 'main' panicked at 'Couldn't find intel_rapl modules.' on debian"
### Bug description

Unable to start scaphandre

## To Reproduce

`docker run -v /sys/class/powercap:/sys/class/powercap -v /proc:/proc -e RUST_BACKTRACE=full -ti hubblo/scaphandre stdout -t 15`

## Expected behavior

The container starts and write data on stdout
Screenshots
[code]

 ## Environment

* Linux distribution version

[code]

* Kernel version

[code]
I have already tried the solution yo

[2021-02-18 15:24] bpetit commented on #73
Hi,

Thanks for reporting ! Do you have files in /sys/class/powercap/ ?

[2021-02-18 17:29] maximeperrault commented on #73
Re,

I don't have files in ` /sys/class/powercap/`
I just dockerized the latest version from github and i got the same error.

[code]
Thank you.

[2021-02-19 11:13] bpetit commented on #73
Did you get the exact same stacktrace with the latest version ? 🤔

[2021-02-19 13:13] maximeperrault commented on #73
You're right. There it is :

scaphandre::sensors::powercap_rapl: Couldn't find intel_rapl modules.
thread 'main' panicked at 'Trick: if you are running on a vm, do not forget to use --vm parameter invoking scaphandre at the command line', src/sensors/mod.rs:238:18
stack backtrace:
   0:     0x55d3339b711a - std::backtrace_rs::backtrace::libunwind::trace::h72c2fb8038f1bbee

[2021-02-19 13:46] maximeperrault commented on #73
And with the --vm parameter :

[code]

[2021-02-20 15:26] bpetit commented on #73
Thanks. I forgot to ask: did you run a `modprobe intel_rapl` first ?

[2021-02-25 10:13] fradaham opened #74 "Support Windows servers - bare metal and virtual hosts"
## Problem

I have a backend, self developed API-platform, serving billions of requests each year, written in .net Framework and running on old windows 2012 servers (might be we need to migrate to never windows server versions soon). At the same time, we have built a new modern version of our platform, which we run in linux docker containers.

I have two interests. One is of course that I want to

[2021-02-26 08:15] PierreRust opened #75 "Shortcomings of current json exporter"
## Problem

I'm currently using scaphandre and comparing its measurements with those of other similar tools (ATM : PowerAPI, codecarbon and pyJoules, if you have any other names in mind, I'd gladly add them to the list !).
For that, I use these tools in an 'offline' manner : I run a batch of workloads and record with each of the tools the energy consumption in an output file (all these tools can p

[2021-02-26 08:37] PierreRust commented on #75
Another issue I just discovered : the json file only contains values for socket 0, although scaphandre is running on a two-socket workstation.

[2021-03-02 08:20] maximeperrault commented on #73
Yeah I got a error :
`modprobe: ERROR: could not insert 'intel_rapl': No such device`

[2021-03-02 09:01] bpetit commented on #73
Okay, unfortunately it's more likely because your CPU doesn't embbed RAPL capabilities. I should have asked about that first. What do you have in /proc/cpuinfo ?

[2021-03-02 09:08] maximeperrault commented on #73
Here we go :
[code]

[2021-03-02 09:52] bpetit commented on #73
I didn't find it on ark.intel.com, but if I look at ark pages for models from the same family (found [here](https://en.wikipedia.org/wiki/List_of_Intel_Skylake-based_Xeon_microprocessors#Xeon_Platinum_(octa_processor))) like [this one](https://ark.intel.com/content/www/us/en/ark/products/136874/intel-xeon-platinum-8174-processor-33m-cache-3-10-ghz.html) I don't find the "Thermal Monitoring Technol

[2021-03-03 17:21] bpetit commented on #74
Hi,

This is something we should go for at some point as there are many windows servers running out there.

I can't say exactly when I could work on that right now as there are some higher priority topics (Warp10, AMD Zen3, ...)
But I hope at least to give it a try and document the challenges to overcome in the following months.

This is great that you asked for it, now it's in the place and if so

[2021-03-04 14:32] maximeperrault commented on #73
Aww so sad. I'm going to take a look at the discussion.
I'm very interest at monitoring energy consumption and I would like to make a link between the consumption of cloud provider machines with the type of energy they use in order to make a CO2eq and rank the cloud providers.

Any idea ? Any plans ?

[2021-03-04 14:43] bpetit commented on #73
The thread I indicated is about that, or more exactly to estimate the power consumption only. Once you have the power consumption, you can rely on services like co2signal.com to get the estimated GHG emissions associated.

[2021-03-04 14:49] #73 closed

[2021-03-07 10:08] bpetit commented on #55
Thanks to @kamaradclimber (🙏🏽 🥳 ) I've been able to validate that with a kernel >5.11, the power consumption data is accessible through the powercap module for AMD, as it is on Intel CPUs (and that scaphandre works correctly in that context). So the simplest way to make scaphandre work on AMD would be to have a kernel >=5.11.

That being said, to support more CPUs/kernel combos, I think being able

[2021-03-07 10:08] #55 closed

[2021-03-07 10:23] bpetit opened #78 "MSR based sensor"
## Problem

We [noticed](https://github.com/hubblo-org/scaphandre/issues/55) that for kernel older than 5.11 on AMD Zen CPUs, perf is working fine and scaphandre is not. The reason is that kernel drivers for amd cpus needed by powercap to get rapl data are not present before 5.11. Perf relies on MSR.

## Solution

We need an MSR based sensor to be able to get metrics when powercap rapl is not a so

[2021-03-08 13:17] maethor opened #80 "Binary link in documentation doesn't work"
The quickstart documentation (https://hubblo-org.github.io/scaphandre/tutorials/quickstart.html) invites to download a binary link (https://github.com/hubblo-org/scaphandre/releases/latest/download/scaphandre-v0.1.1-Ubuntu_20.04-x86_64.gz) which return a 404.

I cannot find a binary for v0.2.0.

Thank you, and good luck in this project.

[2021-03-08 14:18] bpetit commented on #80
Hi ! Thanks for noticing, I'll fix that :)

[2021-03-09 16:47] bpetit opened #84 "Include containerd-specific labels to data coming from powercaprapl sensor"
## Problem

Making dashboard for kubernetes and docker-compose use cases may be a bit tedious as we can only filter processes by exe or cmdline to get the power consumption of a project or a given application (when composed of multiple containers).

## Solution

We could discuss with containerd to get information about the containers running and label them according to projects or docker-compose s

[2021-03-10 14:43] PierreRust opened #85 "Wrong energy reports on a two sockets system"
## Bug description

It seems to be a problem on socket-level energy reporting, potentially when several sockets are available, but that's only an hypothesis.

On my two-sockets workstation ( two Xeon Gold 5118) when i run `scaphandre stdout` (inside docker) I get the following. Core energy is listed, but not uncore (nor DRAM) but I suspect :
[code]

When looking at the json report, core consumptio

[2021-03-11 07:42] bpetit commented on #63
Do you mean keeping the html generated doc ? Don't you think it's a mess to have it there ?
I was not thinking about moving the docs_src folder, but just build the docs one with github actions, to not include the resulting files in the git history.

[2021-03-11 11:20] #22 closed

[2021-03-11 11:27] bpetit commented on #80
I removed the link for now as we don't have a CI job to build proper binaries for each release. I'll add it back when we get something acceptable on this part.

Thanks for the warning !

[2021-03-11 11:27] #80 closed

[2021-03-12 16:02] bpetit opened #88 "SaaS POC"

[2021-03-12 16:04] bpetit opened #89 "Professional Support"

[2021-03-12 16:05] #89 closed

[2021-03-12 16:07] bpetit opened #90 "Scaphandre support"

[2021-03-12 16:11] #88 closed

[2021-03-12 16:12] #90 closed

[2021-03-22 13:47] #53 closed

[2021-03-22 13:50] bpetit commented on #53
I've moved docker-compose stuff in the docker-compose folder (instead of sample-stack).

Don't hesitate to open new PRs to add or improve dashboards, or add easy-to-install components (based on other docker images than prometheus for example) that you would like to deploy easily on local developments platforms.

[2021-03-22 15:51] BasicAcid opened #91 "Add option to display more than five processes (stdout exporter)"
## Problem

Currently, the stdout exporter only display the first five processes.

## Solution

An interesting feature would be to add an option to the exporter, so that we can view an arbitrary number of processes.

Like ```./scaphandre stdout -p 10```

The difficulty is that making this change require a modification in two files (example with a fixed value):

- One in [src/exporters/stdout.rs](h

[2021-03-27 16:54] uggla commented on #91
@BasicAcid, I will have a look if I can add this feature. I think it could be also interesting to have a switch to pass a regexp and display the processes that will match it.

[2021-03-27 17:02] uggla commented on #25
Hello @bpetit,

Will it be possible to have a wrap-up on this topic ? Can we draft the steps to implement this ?

[2021-03-27 17:07] uggla opened #92 "Elasticsearch exporter"
## Problem
Elasticsearch is one of the most popular solution. I think that will be great to have an exporter too.

## Solution

There is a ES client provided and supported by Elastic now. So it should not be difficult to create this new exporter.
This is also a nice issue to jump into the project.

[2021-03-28 10:20] bpetit commented on #92
This is a good idea, I got several time the question about whether it was supported. Thanks for the FR.

I've added tags to make it more visible.

[2021-03-28 11:58] bpetit commented on #75
Hi,

I absolutely agree on timestamps, this should be done in a near future.

I'm not sure to see how it should be arranged to fit panda, could you provide an example ?

A flag could be added to pretty print json. In the mean time you could use `| jq` to get it more readable ?

[2021-03-29 17:36] #63 closed

[2021-03-30 13:30] bpetit commented on #85
Quick update on that, I'm looking at it and it seems that https://github.com/hubblo-org/scaphandre/pull/87 fixes part of what you describe (the wrong allocations of domains to sockets). Thanks @jdrouet !

However, I don't see how we could properly get all the domains on one CPU, and not on another. Could you check what you have in `/sys/class/powercap` please ? Do you actually have 4 folders for e

[2021-03-31 13:00] bpetit commented on #25
I've made a quick draw of what I imagine. We could think about the steps from then.

![cloud_estimation](https://user-images.githubusercontent.com/906428/113147541-653c6e00-9220-11eb-9fcf-dbd48d68512d.png)

To describe it a little bit. The structure of the data (that is imagined on the right of the draw) is a key point here, but I'll keep a macro look to imagine the concepts first. I think it woul

[2021-04-01 10:14] uggla commented on #25
@bpetit, thanks for this first draft. Here are some notes about it.
* Regarding the local DB for scaphandre. I think a simple json containing the data will be enough. Keeping all this as text (not binary) will also help to manage them into a VCS. I don't think there will be a huge amount of data or performance reasons that will force us to use a binary file (I could be wrong).
* I think we should

[2021-04-01 12:29] bpetit commented on #25
I get your point but I don't think having it as a binary locally embedded in scaphandre would be an issue for versioning as the main version of the data could be in a VCS and will be the source of that tiny local DB (we could imagine building new releases of that binary DB every time there are important improvements in the centraliazed data repository). I think it's interessting to have the data i

[2021-04-01 17:17] uggla commented on #25
@bpetit thanks for your answers. I need to read the article from Teads that looks interesting.
Should we have a meeting to discuss the ideas about this point with all interested people ?

[2021-04-02 15:10] bpetit commented on #25
I have a meeting next Tuesday with some people interested from boavizta. Would you like to join ?

[2021-04-04 08:13] tstrempel opened #95 "Add "Cite as" for citation in scientific papers"
## Problem

Your software can solve a lot of problems when it comes to measuring energy. This is especially interesting in an scientific context as a relatively platform independent way of measuring energy consumption. You are currently missing a good citation field.

## Solution

Provide a citation in the most common formats (e.g. BibTex), so it is possible to cite the work your team does correct

[2021-04-04 13:15] bpetit commented on #95
Hi. Thanks a lot for the interest for the project.

I know bibtext only as a consumer of scientific papers and I'm not really used to scientific citations mechanisms and usage. Thanks for highlighting that possibility.

First a quick debrief on the accurateness and limits of scaphandre (as I'm writing):
Scaphandre relies on RAPL so far, which gives the power consumption of CPU and RAM, in a pretty

[2021-04-04 21:40] tstrempel commented on #95
It would go like this: To measure the energy usage of program x scaphandre [1] is used, because ...

Where [1] is the entry in the references. It helps to get promising software circulating and honors the developers. As good tools for measuring energy are almost non-existent, it is good to give your project some possible publicity. I am currently writing my master thesis on a topic relating to ene

[2021-04-05 10:09] tstrempel commented on #95
Or just use something like this:

## Cite as
<main_author> et al., Scaphandre. https://github.com/hubblo-org/scaphandre

The BibTex entry would look like this. If you provide the authors, most people can glue together a bibtex entry themselves, so there is no real need for different entries in different cite styles, as I first proposed.

@software{scaphandre,
  author       = {<main_author> and

[2021-04-05 12:18] bpetit commented on #95
I'll have a look at this project, thanks !

Thanks for the explanations. Would a CITATION file be a good place for this ? I mean, is this where most people would search for such a snippet ?

[2021-04-05 14:42] rossf7 commented on #84
Hi @bpetit,
I've been investigating this a bit. I'm new to containerd so I may be missing something but I think there is an issue with how to connect.

Do we need to mount the containerd / docker socket to access it? There can be security problems with that. As you can get access to the host.

For kubernetes an in-cluster connection restricted with RBAC may work better. We should only need read pe

[2021-04-06 12:55] bpetit commented on #84
I think you're right. Initially I was thinking we could limit actions scaphandre can take on the containerd socket, as we have to compile proto files and could choose what to compile or not. But it was highly speculative and asking to mount containerd socket would look suspicious anyway (even if we dont embed write functions in the protobuf). I'm not even sure what I was thinking about would work

[2021-04-07 09:46] rossf7 commented on #84
From a security POV I think accessing via the kubernetes API is better but I'm a bit worried how hard it will be to map the metrics to pods. Whereas the docker containers have labels for the pod and namespace.

So now I'm doubting my first reply. 😅  You're right this is not an obvious topic!

Yes I think it's important to target this use case too. I agree I think we'll need to mount the socket. Th

[2021-04-07 10:28] bpetit commented on #95
Is it okay like this ? [https://github.com/hubblo-org/scaphandre/blob/main/CITATION](https://github.com/hubblo-org/scaphandre/blob/main/CITATION)

[2021-04-07 15:48] tstrempel commented on #95
Yeah perfect, sry for not answering sooner

[2021-04-07 15:58] bpetit commented on #95
Great, no worries and thank you for the hint !

[2021-04-09 11:41] bpetit commented on #75
Hi @PierreRust !

I'm adding timestamps to the json output.
Regarding the panda compatibility, it seems to me that what we miss is being able to extract only a subset of the data right ?
I tried something using `jq`:

[code]
With test.py :

[code]

So it seems to me that what's needed to easily exploit scaph data with panda is to extract only what we want (sockets or host, or process data) with an

[2021-04-09 12:37] bpetit commented on #67
Is this ok like that ? [https://hubblo-org.github.io/scaphandre-documentation/troubleshooting.html#trying-to-build-the-project-i-get-this-error](https://hubblo-org.github.io/scaphandre-documentation/troubleshooting.html#trying-to-build-the-project-i-get-this-error)

:)

[2021-04-09 12:47] bpetit commented on #91
Hi !

This is not about the number of processes returned in the top consumers list. This is about the number of statistics records we store in the internal "buffer" for each process. You don't need to touch this part to configure the number of process returned by the stdout exporter. This only resides in `src/exporters/stdout.rs` and could look like what I recently proposed on the json exporter:

[2021-04-09 13:09] wallet77 commented on #67
LGTM ;)

[2021-04-09 13:11] bpetit commented on #67
🥳

[2021-04-09 13:11] #67 closed

[2021-04-10 16:59] rossf7 commented on #84
I wanted to look into this some more and I think there is a solution based on https://github.com/heptiolabs/pid2pod

We can get the container ID from `/proc/$PID/cgroup` and from that find the pod by checking its container status. The container ID should also help for the containerd integration.

Here is an example.

[code]

For k8s any of the entries in the cgroup file with `/kubepods` has the co

[2021-04-16 14:05] uggla commented on #91
Hello fyi, I have worked on this topic. I will open a PR very soon that will allow to choose the number of top consumers to display or to filter an a specific process.

[2021-04-16 14:12] uggla commented on #69
It would be wise to ask the author of procfs if he has still plan to change/disrupt the api. If he considers the api stable enough then we could go ahead.

[2021-04-17 13:57] bpetit commented on #69
You're right, we should start a discussion with them about that.

[2021-04-17 14:30] bpetit commented on #84
It seems pretty accurate, thanks for that tip ! As we already ask to mount /proc anyway it doesn't require any extra volume, this is great !

[2021-04-19 09:33] PierreRust commented on #85
I've checked on two systems (laptop and workstation) and I must say I'm lost here ! I'll keep digging but I don't understand why domains are missing on my workstation.

In powerAPI, rapl reading is done using perf, not by reading the filesystem interface. It requires a bit more rights (but nothing more than scaphandre already requires for other needs I think) but seems to be more reliable, I have

[2021-04-25 15:15] obito629 opened #102 "EKS Problem"
Hi ,

i'm trying to install Scaphandre on my AWS EKS Cluster using Helm , but  i have this error

"MountVolume.SetUp failed for volume "powercap" : hostPath type check failed: /sys/class/powercap is not a directory"

## Environment

 Instance Type:                  m5.2xlarge
 Kernel Version:                 5.4.105-48.177.amzn2.x86_64
 OS Image:                        Amazon Linux 2
 Operating Sy

[2021-04-26 09:22] demeringo commented on #102
Hi, @obito629

My understanding is that today, public cloud vendor still do **not** expose the underlying Powercap/RAPL infrastructure that is necessary for Scaphandre to fetch measures. This explains that your container cannot access the specific directory.

See https://hubblo-org.github.io/scaphandre-documentation/compatibility.html

[2021-04-26 15:19] bpetit commented on #102
Hi @demeringo @obito629 !

Thanks @demeringo you're absolutely right. We don't provide an out of the box solution for cloud providers as we need to discuss with the bare metal machine. Scaphandre would work if you run on AWS bare metal instances however. For virtual instance, there are 2 possible ways:

- pushing cloud providers to install scaphandre on their hypervisors so that you could benefit

[2021-04-27 19:49] #102 closed

[2021-05-03 14:27] PierreRust commented on #85
A quick update on this issue, you're right, #87 fixes the issue with 2 sockets.
About the missing domain, as far as I  an tell this is actually "normal" : all other tools (`perf list` , `powercap-info -p intel-rapl
`, etc. ) also only report package and dram domain and it seems to be the way recent server-class cpu are designed. When looking at intel's documentation for this CPU, only these two do

[2021-05-03 14:31] bpetit commented on #85
Thanks a lot for the update !

[2021-05-03 14:31] #85 closed

[2021-05-04 15:20] uggla opened #105 "Refactor warp10 using MetricGenerator"
## Problem

Refactor warp10 to match MetricGenerator interface.
See #79. And look at prometheus exporter which is an exporter already refactored/factorized.

[2021-05-05 13:03] clopnis opened #106 "Selinux compliance"
## Bug description

Scaphandre doesn't provide selinux module to be granted, so scaphandre is not supposed able to reach /proc files

## To Reproduce

Run podman scaphandre on a CentOS node with Selinux permissive or enforced.

## Expected behavior

```type=PROCTITLE` msg=audit(1620219205.083:466054): proctitle=2F7573722F6C6F63616C2F62696E2F7363617068616E6472650070726F6D657468657573
type=AVC msg=a

[2021-05-05 13:36] uggla commented on #24
Hello, I did a couple of investigations on this topic.
There is a wrapper of nvml library written in Rust here: https://crates.io/crates/nvml-wrapper so getting info from an Nvidia board looks not really complcated.
I have extracted and updaded the example provided to extract the power usage: https://github.com/uggla/nvml-basic
Unfortunately, I have the following output:
[code]
So I manage to get

[2021-05-07 07:26] wanecek opened #108 "Consistently reports 0 W for DRAM consumption"
## Bug description

Scaphandre reports 0 W as the DRAM consumption.

## Expected behavior

I hoped scaphandre would include DRAM measurements.

## Screenshots

![Screenshot-2021-05-07T09:09:55](https://user-images.githubusercontent.com/1533747/117412359-00f28580-af15-11eb-8ce1-3866d8fa5652.png)

![Screenshot-2021-05-07T09:27:00](https://user-images.githubusercontent.com/1533747/117413587-71e66d00-

[2021-05-07 07:35] wanecek commented on #108
From reading other issues and how they're debugged, _maybe_ this is useful? Sorry, I know very little about Powercap :sweat_smile:

[code]

[code]

[code]

[2021-05-08 09:04] bpetit commented on #75
Hi !

To move forward on this topic I'd like to discuss several things:

- Is having the timestamp only for the host measurement alright ? as we discussed we don't collect the hose measurement and the socket measurements at the exact same time so we should maybe add the timestamp for all measurements or synchronize the data gathering ?
- do you think a filter option to get only, either the process

[2021-05-09 12:44] AsWali opened #110 "Survey on globally distributed software engineering"
Hey there.

We are doing a survey on globally distributed software engineering focused on open source projects. If you have some spare time we would really appreciate your response. The form takes about 10 minutes. Thanks in advance!
Survey can be found [here](https://forms.gle/N1TnifRuCYHrCY9JA)

[2021-05-09 14:23] bpetit commented on #110
Hi,

Please spread your survey by other means than using issues for this. I'm closing this issue, this is not against your initiative, but I don't think this is the place for it.

[2021-05-09 14:23] #110 closed

[2021-05-09 14:53] bpetit commented on #108
Hi !

Thanks for reporting that. Could you confirm that /sys/class/powercap/intel-rapl:0:2/name contains "dram" ?

What's strange too is that the sum of "core" and "uncore" power consumption is above the total power consumption of the host. I couldn't reproduce it on the machines I have access to. We could have diverse behaviour depending on the hardware and the kernel version. We will surely have

[2021-05-09 14:56] bpetit commented on #106
Hi !

Thanks for reporting that. If we are lucky enough to have someone experienced with selinux we would love to have some help.

If not I may give it a try someday.

[2021-05-09 16:13] wanecek commented on #108
Hi @bpetit, thank you for your quick and kin reply! Yeah, indeed, the sums not adding up is strange, now that you mention it...

I can confirm that the `name` contains (or equals) "dram". Just let me know if there's any more information that I can provide to help you debug, or if there's any specific place I should start when debugging. I started trying to debug the issue, but didn't get very far.

[2021-05-10 08:41] wanecek commented on #108
Update: I discovered [powerapi-ng/energy-scripts](https://github.com/powerapi-ng/energy-scripts/) today, which seems to be a shell script reading from the powercap sensor. I was able to have it report DRAM data back to me, suggesting that at least my sensor is able to report data on the dram usage (unless the energy-scripts file is lying to me, haha!)

[2021-05-10 12:48] mmai opened #111 "Add Cargo.lock to the repository"
## Bug description

The _Cargo.lock_ file is currently ignored.  _scaphandre_ being an executable, I think it should not be ignored, as stated in the comment of the .gitignore.

## To Reproduce

Check that there is no _Cargo.lock_ file in the repository, .

## Expected behavior

There should be a _Cargo.lock_ file, and the _.gitignore_ file should not contain 'Cargo.lock'

## Environment

All

##

[2021-05-10 23:19] demeringo commented on #24
Hi, this is neat !

Your feedback triggered my curiosity to test nvml-wrapper on an AWS EC2 instance that uses nvidia GPU.

_Disclaimer: my knowledge or experience of GPU or related driver is absolutely zero. So if you find anything that does not make sense below, please tell me ;-)_

EC2 instance
- g3.4xlarge
- eu-west-1
- all defaults settings
- using AWS provided AMI that comes with nvida tesla

[2021-05-11 08:22] demeringo commented on #24
Yes, this would be perfect, I can setup different public cloud servers for testing during a limited time... but I lack rust skills to do the integration... so if you could take it I would be more than happy to test a branch ;-)

[2021-05-11 09:50] PierreRust commented on #75
I'm looking at the implementation right now and here ate some thoughts:
* if host and socket measurement are not collected at the same time, we should include timestamp for both. It would be better however if we collected them at the same time. The host consumption is computed as the some of the socket consumption but when looking at the `Topology`, is seems that the timestamp is set to the point

[2021-05-11 16:42] uggla commented on #24
@mindrunner, yes we have the same issue, I have a 1050 (not Ti) on my laptop it is not supported. That's the reason why I requested people with different HW to check.

Is your 1050Ti an embedded chip on a laptop or solder on a motherboard,  or a "real" card plugged on pci express bus ? I understand that it is the last option, but this is just to be sure.

[2021-05-11 16:46] uggla commented on #24
@demeringo ,

Super cool, I'll notify you as soon as I have something usable. I just need to find a bit of spare time to handle it....

[2021-05-11 16:47] mindrunner commented on #24
Yeah, Laptop cards have a different PM, also due to the fact they are usually driven next to an intel card and so on...

The card in my Laptop let's me read the power draw:
(01:00.0 VGA compatible controller: NVIDIA Corporation TU106GLM [Quadro RTX 3000 Mobile / Max-Q] (rev a1))
[code]

The card I was talking about in my previous post is a "normal" PCIe card:
(02:00.0 VGA compatible controller: NV

[2021-05-12 04:55] eminence commented on #69
HI all, procfs maintainer here.   I replied to @uggla in the issue over in my repo, but I figure I'd repeat it (and continue it) here.

The procfs API is not yet at 1.0, and so the API can still change in breaking ways.

The differences between 0.8 and 0.9 aren't that big, so I think you could remain on 0.8 if you wanted (there's actually only 1 bug fix between the two versions and I don't think y

[2021-05-12 09:22] wanecek commented on #108
I'm continuing my futile attempts to debug this.

When trying to log what the path to the counter_uj_path for sockets are, I get that only one socket is created (and iterated over), and the path to its energy counter uj file is `/sys/class/powercap/intel-rapl:0/energy_uj`. Should there be a separate socket for dram (i.e. pointing to `intel-rapl:0:2/` instead of `intel-rapl:0/`?

[code]

[2021-05-12 10:13] wanecek commented on #108
I think the above is even clearer in the json exporter, where we on one hand have a hard-coded names array (https://github.com/hubblo-org/scaphandre/blob/main/src/exporters/json.rs#L166), but when logging the domain name (instead of using the array), I get the following:

[code]

[code]

[2021-05-12 10:34] PierreRust commented on #108
Hi,
I just had a look and there is indeed the way the stdout exported prints out the results, the order of domains is assumed to be `[Core, Uncore, DRAM]`which is not necessarily the case. It's probably the same with json, I have not checked yet.

I'll try to push a PR.

[2021-05-12 10:45] wanecek commented on #108
Great, thanks!

Yeah, I tried sorting the array inside powercap_rapl.rs, as below, and am now getting DRAM results on both json and stdout exporter (forgive the probably horrendously unsemantic rust):

[code]

[2021-05-12 15:12] bpetit commented on #111
Done !

[2021-05-12 15:12] #111 closed

[2021-05-12 16:49] bpetit commented on #84
I've something working in the pr #109 for docker containers names as labels.

I get the container ID from procfs as you suggested, then ask the names of the container through the docker socket.

I've thinking about how to implement the same (getting the name of the pod once I have the container ID) for kubernetes and I was wondering: is this not a too big constraint to ask to have access to a kube

[2021-05-12 20:20] wanecek opened #112 "Are discrepancies between Host consumption and consumers' total consumption expected?"
## Bug description

The `hóst` consumption and the sum of the consumption of all the consumers do not match. The same applies for domains inside a socket.

## To Reproduce

1. Run scaphandre, e.g. with the json exporter:
	```scaphandre json -t 10 -s 1 -f output.json```
2. Pick any of the entries, and compare the sum of the consumptions with the host. For example, run this piece of javascript:

[co

[2021-05-12 20:24] wanecek commented on #112
Ah, I realized this is a duplicate of #20, and will hence close this issue.

[2021-05-12 20:24] #112 closed

[2021-05-13 08:08] rossf7 commented on #84
This is great! I'm glad that getting the container ID worked out.

I've been looking at the [clux/kube-rs](https://github.com/clux/kube-rs) client and just using `let client = Client::try_default().await?` should work. See the example in https://docs.rs/kube/0.52.0/kube/

It first tries with an "in cluster" configuration which uses env vars that are injected by the kubelet. If not it falls back to

[2021-05-13 11:59] bpetit commented on #84
So I guess we have to mount an additional volume when scaphandre runs in a container right ?

Of course, feel free to create a new PR based on this one !

[2021-05-13 13:15] bpetit commented on #75
Thanks for the answer. I'll give a shot on the timestamps topic.

[2021-05-13 16:44] uggla commented on #111
This is strange as most of the other Rust project does not include the Cargo.lock. I checked several of them.
So I'm not sure having it in the repo is a good idea.

[2021-05-13 21:42] uggla commented on #111
Looking at the doc, yep finally binaries should include Cargo.lock : https://doc.rust-lang.org/cargo/faq.html#why-do-binaries-have-cargolock-in-version-control-but-not-libraries

[2021-05-14 07:48] rossf7 commented on #84
Yes, a volume gets mounted at `/var/run/secrets/kubernetes.io/serviceaccount` but this happens automatically if you specify a service account in the daemonset or deployment.

https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#serviceaccount-admission-controller

I'll let you know how I get on with adding the k8s client.

[2021-05-14 16:16] bpetit commented on #75
I've tried a PR to add timestamp in Metric struct: https://github.com/hubblo-org/scaphandre/pull/113

I'd like to hear your thoughts about this !

[2021-05-14 16:23] bpetit commented on #108
Well done ! Looks like a bug solved ! :)

[2021-05-18 07:09] bpetit commented on #106
Hi !

Thanks a lot for those insights. This will definitely be useful to work on the issue.

[2021-05-18 07:12] bpetit commented on #69
Hi !

Thanks a lot for those informations. We will wait for the 1.0 then and ask you if we have issues with the upgrade :)

[2021-05-18 07:51] PierreRust commented on #75
Regarding the timestamp of the host consumption, I've added some traces in `refresh_record` and there is a few ms (around 50, on a powerful, mostly idle, system) between the actual measurement and timestamp set for the whole host consumption.
[code]

I would say we could use the mean between the measurements for all sockets, it's not perfect either but that would be closer to truth.

[2021-05-18 07:56] PierreRust commented on #78
Is there any reason to want an msr-based sensor instead on a sensor based on `perf_open` (https://www.man7.org/linux/man-pages/man2/perf_event_open.2.html) ?

It seems to me that `perf_open` have lower right requirements :  a `/proc/sys/kernel/perf_event_paranoid`  value of less than 1 or the `CAP_PERFMON` (since Linux 5.8) or `CAP_SYS_ADMIN` capability.
MSR reading on the other hand, requires roo

[2021-05-21 13:23] itwars commented on #24
Hi,
You can perhaps have a look to : https://pypi.org/project/pyJoules/ maybe same as pynvml?

[2021-05-21 13:59] uggla commented on #24
Hello @itwars thank you. In fact all these solutions rely on nvml library from Nvidia and the appropriate driver and hardware.
The rust nvml wrapping library (https://crates.io/crates/nvml-wrapper) is working very well. So soon scaphandre will be able to report Nvidia GPU consumption. It might take a bit more time than expected as @bpetit and @PierreRust are currently changing some internal stuff.

[2021-05-21 14:15] itwars commented on #24
Excellent! I'm really excited by having GPU power monitoring for my AI GPU powered lab. Any chance to have something similar for both AMD and Intel GPU?

[2021-05-21 14:21] uggla commented on #106
@nmasse-itix thanks for the investigations ! It explains why as a Fedora user with SELinux enabled, I have not seen the issue.

[2021-05-21 14:46] uggla commented on #24
@itwars , it seems only a subset of Nvidia boards support these feature mostly the highend.
Regarding Intel and Amd, I have not done really extensive researches but it seems power data are not available. Equivalent libraries to nvml are really limited. Only good news, the one from Amd is open source if I remember well (not the case for nvml).
Sounds like energy management was not really a priority

[2021-05-22 16:36] mmai commented on #111
Thanks!  I could complete my package. Flakes are still an experimental feature of Nix, but I've published it [here](https://github.com/mmai/scaphandre-flake) if you're interested.

[2021-05-22 17:11] bpetit commented on #111
Thank you for creating the package ! :)

[2021-05-25 13:05] wanecek opened #116 "Documentation: Interpreting results"
## Problem

It can be confusing to interpret the domains that RAPL readings output (Core, Uncore, CPU/Package).

## Solution

Add a short section to the documentation on what these different domains entail. I am more than happy to help with this, but I would need some help to understand this myself first.

For example, I get the following results, which at least makes it _look_ like Core is a subs

[2021-06-02 23:14] demeringo commented on #116
My -limited- understanding is that we should sum CPU + DRAM to approximate the host consumption without considering display a.s.o,

What I understand from the docs or discussions is that CPU is a general term we use to designate a _package_ (i.e. the physical chip that we plug into the motherboard CPU socket).
This _package_ may contain multiple core(s) + cache + controllers.  I think that package

[2021-06-03 21:44] demeringo commented on #116
The following diagram gives a clear view of RAPL domains.
https://raw.githubusercontent.com/powerapi-ng/pyJoules/master/rapl_domains.png

It also indicates that `uncore`  domain corresponds to the integrated GPU.

Source: [Powerapi-ng/pyJoules](https://github.com/powerapi-ng/pyJoules) project documentation
https://github.com/powerapi-ng/pyJoules/blob/master/README.md#rapl-domain-description

[2021-06-04 07:48] PierreRust commented on #116
For an "official" reference, you can look at Intel's [System Programming Manual](https://www.intel.com/content/dam/www/public/us/en/documents/manuals/64-ia-32-architectures-software-developer-system-programming-manual-325384.pdf) , specifically section 14.9.2 RAPL Domains and Platform Specificity (p500) :

The description of PP1, aka 'uncore',  (given in 14.9.4) is very vague :

So actually it's n

[2021-06-08 15:16] DarylSaucier commented on #59
Hi everyone,

I had the same problem, but mine goes further 😞
 I'm working on a Raspberry Pi 3b+ on which I installed the latest version of RaspiOS (former Raspbian). When I try to install the extra packages using apt, this is what I get :
"Impossible to find the package linux-module-extra-5.10.17-v8". I looked up for answers in several forums but no one seems to provide a way for the installer to

[2021-06-09 09:43] uggla commented on #59
Hi @DarylSaucier, unless if i'm wrong because I have currently no Rasberry Pi to verify. But there is not "rapl" sensor for the Rasberry Pi. The rapl technology is provided only on x86 (Intel or Amd) hardware. So scaphandre cannot run on a rpi.
Looking at the package, I think that it does not make sens to have a module-extra package on the rpi because as the hardware is the same, there are no need

[2021-06-09 13:05] DarylSaucier commented on #59
Thank you very much @uggla, we'll thus find another machine

[2021-06-21 13:55] itwars opened #117 "Scaphandre vs Shelly Plug S"
I just got my new Shelly-Plug-S to have power consumption on all equipments and when measuring using both Shelly and Scaphandre there's some differences on regular bases:

- Shelly plug: 2.42W
- Scaphandre: 3.02W

It's not a huge difference of consumption on my minipc, but considering Scaphandre get metrics from CPU/RAM, but not drive, network and other stuffs, normally it should tell me less than

[2021-06-21 14:01] PierreRust commented on #117
Scaphandre should definitely report an lower consumption that the Shelly Plug , as the plug measurement includes the motherboard, power supply loss, disks, etc.
In your example, the consumption reported by the plug looks very low, even a mini pc usually uses way more than that.  As a comparison, I'm using a low power fanless celeron-based system and I still have around 10w when measuring at the pl

[2021-06-21 14:05] itwars commented on #117
Hello Pierre,

It's this computer: https://www.amazon.fr/gp/product/B08117XQ5X/ref=ppx_yo_dt_b_asin_title_o06_s00?ie=UTF8&psc=1

I just add 2 previews of grafana on the initial post!

On it there's 5 running kvm instances:
[code]

[2021-06-21 14:12] PierreRust commented on #117
Well, hard to say, that's a very low power system indeed, but even though 2,5W seems too low imho.
Maybe the shelly plug are not precise enough when measuring such low wattage :shrug:

[2021-06-21 14:25] itwars commented on #117
Perhaps! It's based on ESP8266 but I can't fine any mention of power consumption? Did someone made same measurement with other device except Shelly?

[2021-06-29 13:44] DarylSaucier commented on #25
Hi,

I just wanted to present here a new source of possible errors in servers consumption estimation -because it was too easy, indeed. I found a few weeks ago this [article ](https://medium.com/teads-engineering/estimating-aws-ec2-instances-power-consumption-c9745e347959) explaining that hardware consume differently according to their fabrication. In fact, this paper shows that "Under the same loa

[2021-07-15 07:45] bpetit commented on #84
Hi @rossf7 !

I got some time to work on the k8s part. Did you start something ? Could we merge efforts ?

[2021-07-15 11:15] rossf7 commented on #84
Hi @bpetit that's great you have some time to look at the k8s part :)

I've been doing some research but sadly I haven't made progress with code. I'll write it up here.

Since scaph is running as a daemonset like I mentioned before my idea was to have a `--kubernetes-node` flag. We can set this via an env var using the [Downward API](https://kubernetes.io/docs/tasks/inject-data-application/downwar

[2021-07-15 14:09] bpetit commented on #84
Hi ! Great, thank you !

I'll give a shot at k8s-openapi, with isahc as a backend (as it's done in rs-docker-sync) and see if it requires a lot of code or not. This would be very minimalistic and maybe a bit more manageable than needing an async runtime to query k8s (it's a bit the same topic as for docker as you mentioned it).

If it's not that good we could consider and higher level crate, but a

[2021-07-15 15:06] rossf7 commented on #84
Yes, using k8s-openapi with isahc sounds great. A full k8s client for just listing and watching pods is probably overkill.

Let me know how it goes and I'll try and have a go at the helm chart changes. I think this feature will be really useful and I'd like to help where I can.

[2021-07-23 11:40] rossf7 commented on #84
Hi @bpetit, an update on this.

I've managed to get k8s-openapi working with isahc using in-cluster credentials. I worked on it in a separate repo to keep thing simple and because I'm on mac and usually use kind (kubernetes in docker) for local dev.

The code is here. It's still a bit rough but it's working. I'd like to try and integrate it into scaphandre but I have vacation next week. So if the

[2021-07-23 12:44] bpetit commented on #84
Thanks a lot to you, I'll have a look at it ! :)

[2021-07-23 16:52] rossf7 commented on #84
It shouldn't be specific to kind but I think to have the /var/run/secrets/kubernetes folder the code needs to be running in a pod with a service account configured.

Can you try running it with the commands here? https://github.com/rossf7/rust-k8s-test#run-example

I think it would be useful to support both in-cluster and a kubeconfig file for local dev. There is an example of doing that here. htt

[2021-08-02 08:52] paulgay commented on #78
Hi,

what do you think about this (maybe old) code?

 https://github.com/kentcz/rapl-tools

I am not working with AMD but I am facing a similar problem on a 11th Gen Intel(R) Core(TM) i9-11900
where the id of the model is:
[code]
and the os is
[code]

In this setup, rapl linux modules does not seem to be supported, however, the code I mentionned is giving me some power measures.

I am currently ch

[2021-08-31 13:20] MaximeAlten opened #122 "Install Scaphandre with Helm"
Hello !
## Bug description

Using the official repository "stable" but can't get scaphandre on it :
Error: failed to download "stable/scaphandre" (hint: running `helm repo update` may help)

## To Reproduce

Using commande line :
helm install scaphandre helm/scaphandre or helm install scaphandre stable/scaphandre

## Expected behavior

Installation of scaphandre

## Environment

- Linux distributi

[2021-09-06 10:18] rhys-the-davies opened #123 "Unable to contribute to documentation"
## Bug description

Following your contribution guidelines for documentation here: https://hubblo-org.github.io/scaphandre-documentation/contributing.html#edit-and-build-the-documentation I got to running:

[code]

but got:

[code]
It seems like you're missing the SUMMARY.md file that mdbook needs to do anything when you initialise the environment: https://rust-lang.github.io/mdBook/cli/init.html

[2021-09-07 07:29] MaximeAlten commented on #122
Hello,
Any news for this please?
Thanks for your time,
Maxime

[2021-09-07 09:19] bpetit commented on #123
Hi,

The docs_src containing documentation folder is in scaphandre's repository. The way I update the documentation usually is having the scaphandre folder and the scaphandre-documentation folder next to each other. I cd to scaphandre folder and run mdbook build. The configuration excpects to find the scaphandre-documentation/docs folder at ../

So I guess this is step 3 that needs to be changed.

[2021-09-07 10:03] bpetit commented on #122
Hi,

I think the chart has not been pushed to any helm repository yet.

The only way to use it is to call the local chart folder. Could you provide the output of the `helm install scaphandre helm/scaphandre` command instead please ?

Thanks

[2021-09-07 10:04] MaximeAlten commented on #122
Hello,
You're right. We just "debugged" it. It is because I didn't make a gitclone first.
That's on me!
Thanks for your time

[2021-09-07 10:05] #122 closed

[2021-09-14 12:51] davidmytton commented on #25
I recently handed over https://github.com/cloud-carbon-footprint/cloud-carbon-coefficients to the [Cloud Carbon Footprint](https://www.cloudcarbonfootprint.org/) project which provides energy consumption coefficients for the various CPU architectures running on AWS, GCP and Azure.

The notebook does the calculations based on the SPECpower database, then groups them by CPU so they can be injected i

[2021-09-18 13:13] #108 closed

[2021-09-18 14:52] #91 closed

[2021-09-25 11:46] #84 closed

[2021-10-01 12:24] bpetit commented on #75
Could you send an abstract of the code where you put the traces, so I could reproduce and have the same data you have ?

[2021-10-05 08:42] #75 closed

[2021-10-09 08:01] bpetit commented on #46
Absolutely. We need to rewrite a part of the sensors logic. I'll should start this refactoring next week as I plan to work on the windows support (#74).

[2021-10-11 12:57] jrosser commented on #60
There is a lot of dicussion of what it would take to add virtio-fs to nova here (in the context of the openstack manila filesystem-as-a-service) https://www.youtube.com/watch?v=e3kHPjNVQ80

[2021-10-21 15:34] William-LP opened #129 "502 Bad Gateway while accessing demo website"
Hello,

https://metrics.hubblo.org/ is down

![image](https://user-images.githubusercontent.com/10053686/138310178-26ecc4d6-0be9-4120-9d6e-27eadcdb7f1e.png)

[2021-10-22 13:06] #129 closed, assigned to nobody

[2021-10-30 00:19] DavidMChan opened #131 "Thread 'main' panicked at 'Trick: if you are running on a vm' when machine is not a VM"
## Bug description

Running scaphandre on bare metal (no VM) produces the following error, even though the machine is not a virtual machine:
[code]

Adding the "--vm" argument gives (and still does not work):
[code]

Reloading the rapl kernel modules, and restarting the machine does not seem to change anything.

## To Reproduce

[code]

## Expected behavior

Something should happen :)

## Environm

[2021-10-30 08:56] bpetit commented on #131
Hi ! Thanks for noticing this bug.

What I see in the details you provided makes me think you are running kind or a "new" version of powercap: https://docs.kernel.org/power/powercap/dtpm.html

You have an extra "dtpm" forlder but no RAPL domain-specific folder under intel-rapl:0 (in mainstream cases you get 0:0, :0:1 :0:2 for example).

We need to investigate this, as we have never seen this mode

[2021-10-30 16:06] bpetit commented on #20
Hi @PierreRust

I get much better results (comparing total power consumption of all processes to total power consumption of the host) with this fix.

Could you try that too and give me your thoughts ?

Thanks !

[2021-10-30 16:13] bpetit commented on #19
Hi @Mathieu-Coupe !

Sorry for the long delay response !

I tried a fix that might have an incidence on this issue : #132

Could you try that on the same machine/setup (if you still have it...) and tell me if it seems to get any better ?

[2021-10-31 17:21] DavidMChan commented on #131
Thanks for the reply! Let me know if we can do anything to help. I've also linked a gist of the full folder structure for /sys/class/powercap - which may be helpful in debugging.

https://gist.github.com/DavidMChan/21037f7a126f0e6a112ab691785f0e51

[2021-10-31 17:42] Mathieu-Coupe commented on #19
Hi !

Yes, I still have this setup (but it got updated to newer kernel in the meantime).
I installed it back from the compose file provided and the issue seems fixed 👍
I'll let it run from now.

![image](https://user-images.githubusercontent.com/1534517/139595348-f7766640-3d69-4aa0-8682-4f73270fce54.png)

There is still a minor issue. I see a spike in the socket consumption only, that goes away if

[2021-11-03 11:17] armaniv opened #133 "Scaphandre does not work on VMs with more than one logical host CPU"
## Bug description

Scaphandre does not work on Qemu/KVM virtual machines with more than one logical host CPU assigned.

## To Reproduce

1. Create a VM and allocate to it two or more logical host CPUs.
2. Follow the procedure described in the documentation under the Qemu exporter section.
3. Run, for example:
`sudo docker run -v /var/scaphandre:/var/scaphandre -v /proc:/proc -ti hubblo/scaphandre

[2021-11-04 14:02] jules-delecour-dav commented on #131
Hey
I got the same issue with Intel Xeon Gold proc and Fedora CoreOS sys (working on OKD4 with OVH Cloud)

[code]

[code]
[code]
[code]

[2021-11-04 16:26] bpetit commented on #131
Thanks for noticing, I'll push info on this thread when there is something new.

[2021-11-09 13:16] #20 closed

[2021-11-10 08:23] Mathieu-Coupe commented on #19
Hi,

there is indeed something to configure on grafana level to better handle on very high spike in the data but the issue itself is that one point got a very high value.

If you look at the raw data sent by prometheus, we can see it :
![image](https://user-images.githubusercontent.com/1534517/141075359-1fbf18a0-874a-46ef-9997-c1fe46c05279.png)

For the rest, still good.

[2021-11-10 08:28] jdrouet opened #134 "Weird numbers when using a VPS based on xen technologies"
## Bug description

When I cat `/sys/devices/virtual/powercap/intel-rapl/intel-rapl:0/energy_uj` every seconds on my VPS I get the following result

[code]

We can see values that are no consistent.

## To Reproduce

- Take a vps based on xen technologies
- `cat` a `energy_uj` file every 1s seconds

## Expected behavior

Having a way to detect when the context switches and ignore the previous valu

[2021-11-10 09:37] bpetit commented on #19
Hi,

There is something to fix indeed. But this seems not specifically related to systemd, right ?

Would you mind open a new issue for that specific behavior ?

Thanks !

[2021-11-10 09:37] #19 closed

[2021-11-13 08:27] Mathieu-Coupe opened #135 ""ptrace call denied" logs when running Scaphandre in container"
## Bug description

When Scaphandre is running in a Docker container on a host using AppArmor, the log contains error about denied "ptrace" operation.

[code]

The same logs comes back every 10s.

To avoid AppArmor denying the ptrace call, the container must be run in privileged mode.

## To Reproduce

Run the provided example stack using docker compose file.

## Expected behavior

To avoid genera

[2021-11-19 09:34] arthurlogilab opened #137 "[doc] Provide commands to check rapl support"
## Bug description

It can be difficult to detect that scaphandre is not support on the server's CPU

## To Reproduce

[code]

## Expected behavior

A bit more warning in the documentation about supported/unsupported CPUs

I ended up reading https://hubblo-org.github.io/scaphandre-documentation/compatibility.html and https://hubblo-org.github.io/scaphandre-documentation/references/sensor-powercap_

[2021-11-19 09:38] arthurlogilab opened #138 "[helm] support for the `--vm` option in the command line of the pods"
## Bug description

With the current helm chart, one can only deploy to kubernetes with "baremetal" server (from my understanding). Adding the `--vm` option *before* `prometheus` argument  can't be done with the `extraArgs` in the `values.yaml`.

## To Reproduce

Deploy with helm on a kubernetes cluster that uses VMs.

## Expected behavior

Here is what I had to add to the daemonset :

[code]

Thi

[2021-11-19 11:13] jotak commented on #138
this should fix it: https://github.com/hubblo-org/scaphandre/pull/139

[2021-11-19 11:33] jotak commented on #106
also if you run scaphandre on openshift you may have to run it as privileged:

`oc adm policy add-scc-to-user privileged -z scaphandre`

(assuming there's a `scaphandre` service account, like the helm chart has: https://github.com/hubblo-org/scaphandre/blob/main/helm/scaphandre/templates/service-account.yaml )

[2021-11-25 10:13] arthurlogilab opened #140 "Support for alternative ways to collect the power usage data"
## Problem

It seems that scaphandre is focused on one way of collecting the power consumption right now through the Powercap_rapl kernel capabilities.

Could there be a way to collect though other commands and maybe have some approximations of which process is consuming power through custom code ?

In our use case, we have a bunch of "old" poweredge dell servers, and I know that we can extract so

[2021-11-29 13:37] jules-delecour-dav commented on #131
Hey, did you manage for this issue ? I can provide you more infos or we can program a workshop in order to investigate

[2021-12-03 14:13] STandon-3 opened #141 "CPU percentage usage per process"
## Problem
I'd like Scaphandre to be able to export a metric for the CPU percentage usage for every process, and not just the Scaphandre process.
In particular, I'm trying to get the CPU percentage usage for each virtual machine running on a server.

## Solution

I can see that there is a get_process_cpu_consumption_percentage [function](https://github.com/hubblo-org/scaphandre/blob/6a7350fa41ad6e

[2021-12-10 08:54] liz-george opened #142 "Scaphandre - Throwing error with AWS EC2 instance"
## Bug description

I am trying to run the Scaphandre tool on my server. However it throwing the panic error.

Error :

Input : docker run -v /sys/class/powercap:/sys/class/powercap -v /proc:/proc -ti hubblo/scaphandre stdout -t 15

Output :
thread 'main' panicked at 'Trick: if you are running on a vm, do not forget to use --vm parameter invoking scaphandre at the command line', src/sensors/mod.rs

[2021-12-10 09:29] demeringo commented on #142
Hi Liz, for the time being Scaphandre does not support EC2 instances.

The reason being that public cloud providers do not expose the underlying RAPL sensors that scaphandre and other measurment tools rely on to track consumption.

This is likely the reason of the panick.

See https://github.com/hubblo-org/scaphandre/issues/25.

The only alternative I am aware of rely on estimating the consumption

[2021-12-11 10:59] rossf7 commented on #69
Hey,
I ran into this while I was working on https://github.com/hubblo-org/scaphandre/pull/143

The problem is the systemd cgroup driver for kubernetes uses `:` as a separator and the path gets truncated which means the container ID is missing. This was fixed in https://github.com/eminence/procfs/pull/152

If I use a fork of 0.8.1 with just the fix it works great. Could we either upgrade or create

[2021-12-11 21:02] eminence commented on #69
My general recommendation is to upgrade to the latest procfs, but if you must remain on the v0.8.x release, then I'm happy to create a 0.8.2 that has eminence/procfs#152 cherry-picked.   Just let me know

[2021-12-14 15:08] bpetit commented on #138
#139 is merged. Could you tell us if that fits your need or not @arthurlogilab ?

Thanks, both of you !

[2021-12-14 15:10] arthurlogilab commented on #138
Looks great thank!

[2021-12-14 15:14] bpetit commented on #138
Thank you !

[2021-12-14 15:14] #138 closed

[2021-12-14 15:32] bpetit commented on #69
I'll have a look at that, as I'm working on some [refactoring](https://github.com/hubblo-org/scaphandre/issues/74). I'll look into upgrading to procfs 1.0 through that opportunity.

[2021-12-16 07:31] liz-george commented on #142
Thank you for your response.

[2021-12-16 07:31] #142 closed

[2021-12-16 16:19] bpetit commented on #69
Having a try with #144

Seems to work fine, feel free to run tests on your sides to.

[2021-12-17 08:11] bpetit opened #145 "Enable scaphandre to read its configuration from a file"
## Problem

All the configuration has to be passed as flags in the command line today.

## Solution

I'd like to be able to write the behaviour I want Scaphandre to adopt in a file, give it this file's path to read (with --config for example).

[2021-12-17 17:31] rossf7 commented on #69
Thanks I tested my changes in #143 with your changes in #144 and they worked fine.

[2021-12-17 18:07] bpetit commented on #69
I think I found a bug in #144 don't rely on it too much yet. I'll try to document and fix that this week end.

[2021-12-21 14:07] bpetit commented on #69
Bug is fixed. Merged this PR in the new dev branch. I'll work on #74, then merge in dev before merging everything to main.

[2021-12-22 08:32] bpetit opened #147 "Identify why, applying proper permissions to /sys/class/powercap while scaphandre is running, generates a wrong and huge first measurment"
## Bug description

If permissions are not properly configured on `/sys/class/powercap`, but Scaphandre is already running, first measurements will have a value of 0.0. If we then run the `init.sh` script, the very first working measurement, at least for the host woncumpstion, will be of a wrong and huge value. Investigating this is not my priority right now, but it is important so here is an issu

[2021-12-30 18:08] bpetit commented on #78
@PierreRust you are right about the requirements of accessing the MSRs. I guess we should provide both approaches, if possible.
I'm currently working on #74 and using the MSRs (indirectly, through a custom driver) is a solution that seems to work properly in that context.
On linux however, we should probably give a shot on perf_open !

@paulgay thanks for sharing those tools, I didn't know varoriu

[2021-12-30 18:12] bpetit commented on #131
Hi @DavidMChan, @jules-delecour-dav.

I should be able to work on this issue in february. The issue I'll quickly run into is that I don't have access to any machine with an i9 or equivalent cpu. Would you be able to share a remote access to a server or desktop with those caracteristics to help troubleshoot ? (so, probably for february, then)

Thanks

[2021-12-31 17:01] DavidMChan commented on #131
Hi @bpetit  - do you have time to add a quick outline of what needs to be done? (i.e. where I should start looking to adjust the ingestion of the data, and what needs to be updated...) If so, I can take a look at creating a PR for this issue which might be a bit easier than trying to get you access to one of our machines.

[2022-01-05 16:36] demeringo commented on #145
Hi, I believe getting config from environment variables may be a related topic.

As far as i can read rust (not much yet ;-)) I understand that scaphandre uses clap (https://docs.rs/clap/2.33.3/clap/)  to parse it's command line arguments.

Do you think that a integrating a library like clap_conf (https://lib.rs/crates/clap_conf) could help unifying cli args, env vars and config file ?

Could some

[2022-01-05 21:52] demeringo opened #150 "Scaphandre docker image uses deprecated ubuntu version which prevents update"
## Bug description

hubblo/scaphandre container image is based on ubuntu 20.10 (a non LTS and now unsupported version).

Following deprecation of the ubuntu repositories, I cannot install additional software in the container.

`apt update` from inside the container returns
[code]
or local docker build (`docker build .`) fails for similar reason.

## To Reproduce

1. `sudo docker run -it --entrypoi

[2022-01-06 17:21] bpetit commented on #150
Your fix to run on 20.04 seems like the best choice. Thanks for that !

[2022-01-06 17:25] bpetit commented on #145
Hi ! Absolutely. Thanks for sharing this, this library seems to be worth a shot !

[2022-01-06 17:55] bpetit commented on #131
Hi ! Of course. The first thing to do would surely be to :

1. find if the intel_rapl and intel_rapl_msr modules are available on recent kernels
   (seems to be appropriate to test on 5.12 and above)
2. if they are working properly on i9
3. if they are still providing data in /sys/class/powercap folder
4. if one of those 3 conditions are not met, document it, so that we find another way to make sc

[2022-01-06 18:10] rossf7 opened #152 "Push a versioned tag of the docker image when new Scaphandre releases are created"
## Problem

I would like to use a tagged version of the docker image instead of the latest tag. So the version of scaphandre is predictable.

## Solution

This can be automated using the docker [build-push-action](https://github.com/docker/build-push-action). This will push a new tag to docker hub when a new git tag is created.

This can be combined with the docker [metadata-action](https://github

[2022-01-06 18:37] rossf7 opened #153 "Push Scaphandre helm chart to a helm repository and add it to artifacthub.io"
## Problem

Currently you need to clone the scaphandre repo to install the helm chart. This adds friction and it would be easier to install from a helm [chart repository](https://helm.sh/docs/topics/chart_repository/).

The helm chart can then be added to [artifacthub.io](https://artifacthub.io/) and included in the monitoring category to make it easier to find.

## Solution

Chart repositories ca

[2022-01-07 16:17] jules-delecour-dav commented on #131
Hi @bpetit, i can create a vm and give you access to it
I'll send you connexion access when it will be created

[2022-01-18 21:09] Vic063 commented on #46
Hello,

I just looked into _Intel Power Gadgets_ which uses a kernel driver to read/write from/into MSRs.
Sadly, I do not own an Apple computer so I only tested on a VM running under qemu/KVM.

Obviously, required MSRs are not available but I have a list of the used MSRs (which are mainly the same used by the Windows version):
[244872.306699] kvm [927770]: ignored rdmsr: 0x606 data 0x0
[244872.306

[2022-01-20 22:17] demeringo commented on #152
What _I_ would like to see (does not means it is the right thing to do ;-) ) is getting access to both a stable (released) and unstable version (dev).

- The _stable_ version could be tagged as `latest` + `vX.X.X` (i.e. the git tag, as suggested by @rossf7).
- The _unstable_ (or _testing_ or _development_) version would be based on _dev_branch.

Idea is to permit easy integration or testing of the

[2022-01-21 13:57] rossf7 commented on #152
@demeringo thanks I like the idea as it would be useful for testing the latest functionality.

It should be possible with a simple change to the github action. I'll give it a try and let you know how it goes.

[code]

[2022-01-27 10:37] rossf7 commented on #152
@demeringo yes it works it just needs a small change to the docker-metadata action.

[code]

@bpetit What do you think to setting up this tagging?

[2022-01-29 16:38] demeringo commented on #150
hi @bpetit
- should I close this issue now, on the rationale that the PR has been merged to dev ?
or
- should we rather close it only after this has been integrated to next release ?

And a related question is: when should we republish the docker image ?

[2022-01-30 16:57] demeringo commented on #152
@rossf7 @bpetit I realize that if we publish multiple images, we may also need to update doc. To explain which image should be preferabily used. I can handle this on a separate PR.

[2022-01-31 13:13] bpetit commented on #46
Hi !

Yes @Vic063 I think we could use the same methodology in the Scaphandre codebase to plug to a dedicated MSR based driver. Even if we find a less invasive way to monitor power consumption on MacOS at some point, it may be included in a new sensor, in addition to this one anyway. So your help would be very helpful here 😁  (but we also have to release the windows driver codebase soon :P).

I al

[2022-02-01 03:41] rdegges commented on #46
Happy to test stuff out for ya -- the approach I outlined in that article is using Apple's `ioreg` CLI utility which inspects hardware devices and returns information. They have a low-level API within their "battery" metrics that allows you to read the current amount of watts being pulled from a power adapter -- which is what I used to measure total consumption over time.

In my experience, this i

[2022-02-02 11:01] bpetit commented on #35
Thanks a lot @davidmytton for those ressources. I'll dig into those when I'll focus on arm.

I was searching data on arm processors for another project and found this : https://developer.arm.com/documentation/ddi0388/i/functional-description/power-management/cortex-a9-processor-power-control?lang=en

Maybe not applicable to all models, but maybe worth considering it.

[2022-02-10 15:58] bpetit commented on #133
Hi, thanks for this bug report. I should work on that in the following weeks.

[2022-02-14 13:33] adelnoureddine commented on #35
Hi, we build regression models for all Raspberry Pi devices ARM processors we have (RPi zero to 4) with a very small margin of error.
We'll be publishing the models and the process to generate them (we propose an automated benchmark architecture) soon as we are awaiting reviews on our journal paper (as the work is part of the work of my PhD student).
The models will be integrated into our own powe

[2022-02-14 18:14] hulksmaaash commented on #35
If you want/need free access to server class Arm hardware, this website has a few options available to opensource projects and education institutions.

https://developer.arm.com/solutions/infrastructure/works-on-arm

[2022-02-15 23:09] vaastav opened #156 "How exactly is the energy usage attributed to each individual process?"
I am curious as to how the energy usage is attributed to each individual process. The reason I ask is that I would like to have fine-grained energy measurements of snippets of code running in a given process. I am curious as to how that would be possible with scaphandre.

[2022-02-16 12:55] mrchrisadams commented on #156
Hi @vaastav  does this shed any light? I had this same question, and I tried  to write it up myself after speaking to Benoit and carefully reading the code a while back (not so easy if you're not fluent in rust…)

https://github.com/hubblo-org/scaphandre/blob/main/docs_src/explanations/how-scaph-computes-per-process-power-consumption.md

[2022-02-17 13:06] pingenglj commented on #131
Hi, hitting the same issue (Ubuntu 20.04.3 LTS, GNU/Linux 5.13.0-28-generic x86_64).

[code]

[code]

[code]

Can read from `/sys/class/powercap/intel-rapl/intel-rapl:0/energy_uj` (but do not see subzone directories)
[code]

[2022-02-17 19:39] vaastav commented on #156
Thanks @mrchrisadams ! This actually helped a lot!

[2022-02-17 19:39] #156 closed

[2022-03-05 10:20] bpetit commented on #131
Hi !

Thanks for those informations. @pingenglj

@jules-delecour-dav if need access to a physical machine with an i9 cpu to reproduce this error. A vm wouldn't do it. But thanks !

[2022-03-05 14:36] bpetit commented on #152
This would be great. Moreover, w'ell need different tags to provide scaphandre built with different features or sensors.

Feel free to bootstrap that in PRs, and thanks a lot.

The tagging pattern you proposed suits me well !

[2022-03-06 12:25] rossf7 commented on #152
I opened https://github.com/hubblo-org/scaphandre/pull/160 to add the action.

[2022-03-13 11:54] demeringo opened #161 "Style: actual code fails on Clippy rules"
## Bug description

When pushing a PR to `dev`  branch, the github action that checks code style fails on some clippy rules.

## To Reproduce

You can see it on this PR: https://github.com/hubblo-org/scaphandre/pull/160

The clippy check triggered by a gitlab action is `cargo clippy -- -A clippy::upper_case_acronyms -D warnings`.
See https://github.com/hubblo-org/scaphandre/blob/9498ae56a09a9c1cf7

[2022-04-03 22:30] uggla commented on #60
I raised the point to the Openstack PTG for Zed release: https://etherpad.opendev.org/p/nova-zed-ptg

[2022-04-05 11:07] hrexha28 opened #163 "Power of total processes does not add up to host power"
## Bug description

Hi, if i use the tool to measure the power distribution of several processes with the json exporter the sum of all processes power is far greater than the host. Sometimes even the power of one process exceeds the host power.

## To Reproduce

./scaphandre -t 10 -s 0 -n 100000000 -f result.json

## Expected behavior
sum(all process power) <= host power

## Screenshots
![image](h

[2022-04-13 14:48] bpetit opened #164 "Detect and store Idle, 50% and Max CPU+RAM Usage result on power consumption, when it happens"
## Problem

As someone keen to provide open data on power consumption depending on hardware, I'd like to have an opportunistic approach to know the power profile of my machine, then store it in a database.

## Solution

Add a flag to ask Scaphandre to detect when CPU+ Ram resources is at its lowest possible (once system is booted), then store the power consumption in memory, do the same when at ~5

[2022-04-19 13:05] demeringo commented on #164
Hi,

This is interesting but I am not sure how to qualify `lowest` possible, particularly for CPU, nor how we could have a kind of reference scenario.

Would that mean proposing a "standard benchmark/test scenario" that could be achieved by launching a kind of stress test (ramping up from 0 load to saturating CPU cores) ?

I am thinking of something like `stress-ng` which seems quite configurable

[2022-04-19 19:12] da-ekchajzer commented on #164
I think ```lowest``` should be called ```idle```.

## Using top

*```top``` output*
[code]

```Workload % CPU = 100 - %Cpus(id)```
```IDLE : Workload % CPU ≈ 0```

```Workload % Ram = ((MiB Mem(total) - MiB Mem(free))/MiB Mem(total))*100```
```IDLE : Workload % Ram ≈ 0```

/!\ ```top``` step (```top -d step```) should be synchronized with scaphandre step.

## Other commands

Other commands can be

[2022-05-02 09:11] bpetit commented on #74
In order to provide some materials for the to-be-made documentation, I attach a presentation we prepared to explain how we implemented the support of windows :
[Boavizta - Scaphandre_RAPL_Windows.pdf](https://github.com/hubblo-org/scaphandre/files/8601923/Boavizta.-.Scaphandre_RAPL_Windows.pdf)

[2022-05-03 08:16] fabrepe opened #165 "Duplicated HELP and TYPE lines in prometheus exporter"
## Bug description

I am trying to scrape prometheus output using InfluxDB's Telegraf client, which is [supported](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/prometheus/README.md) in Telegraf.

It fails with the following errors
[code]

In fact metrics sent by prometheus exporter contains several HELP and TYPE definition for the same metric.

[code]

## Expected behavior

pr

[2022-05-04 23:32] fcomte opened #166 "high cpu usage and not working scaphandre"
## Bug description

I am running scaphandre with the helm package from this repo.
I am unable to get metrics and when I look at the cpu usage of scaphandre, it's very high.

![image](https://user-images.githubusercontent.com/48868412/166841444-5208189b-8f73-4cc5-aac6-52fef161e7e3.png)

In the logs with some debug trace I have the following exception :

[code]

I tried to use directly : docker run

[2022-05-07 16:07] rossf7 commented on #166
Hi @fcomte, since it works without the `--containers` option I think the errors and CPU usage are from failures matching processes to pods.

For one of the scaphandre containers can you post its cgroup file? The metric has a label with the pid.

[code]

[code]

The format of the file depends on the cgroup driver being used by the kubelet.

[code]

This may be fixed by https://github.com/hubblo-org

[2022-05-10 09:00] kennux75 opened #167 "Way to know if the CPU is compliant with scaphandre - could not start on kube with intel CPU"
Hello,

I would like to give a try to scaphandre on a kubernetes cluster. I tried to deploy it with the helm chart, but I always have the error:
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 2, kind: NotFound, message: "No such file or directory" }', src/sensors/powercap_rapl.rs:76:53

After a few research, I checked on the node the module, intel_rapl which is

[2022-05-10 15:34] fcomte commented on #166
Thx @rossf7.

I have this format :
[code]

[2022-05-11 19:56] bpetit opened #169 "Enable JSON exporter to run as a daemon"
## Problem

For usecases thats couldn't involve a TSDB (much simpler use cases), storing locally json data on the long run could be nice.

## Solution

Allow the JSON exporter to run "forever", until it's shut down.

## Additional context

The code is close to allow that, but there is a default of 10 seconds on -t, so there is no way to  run "forever".

[2022-05-12 07:33] rossf7 commented on #166
@fcomte Thanks for checking. This format is supported so its something else.

Are there any other errors in the logs? If you haven't already can you enable backtraces via the helm chart?

https://github.com/hubblo-org/scaphandre/blob/8273ced3ddf9b4d2ccaeb4047be81571aa5a9d9e/helm/scaphandre/values.yaml#L19

[2022-05-12 07:54] fcomte commented on #166
running with backtrace full :

[code]

[2022-05-12 09:24] gallart opened #171 "Centos 7 : can't set process label: open /proc/self/task/1/attr/exec: no such file or directory: unknown"
## Bug description

On CentOs 7 + Docker, we get the following error when running scaphandre :

[code]

## To Reproduce

`docker run -v /sys/class/powercap:/sys/class/powercap -v /proc:/proc -ti hubblo/scaphandre stdout -t 15`

## Expected behavior

Should output results

## Screenshots

N/A

## Environment

CentOs 7
Kernel : 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64

[2022-05-13 04:55] SlimKhiari opened #172 "thread 'main' panicked at 'Trick: if you are running on a vm, do not forget to use --vm parameter invoking scaphandre at the command line', src/sensors/mod.rs:263:18"

[2022-05-13 11:52] rossf7 commented on #166
Thanks @fcomte I've created https://github.com/hubblo-org/scaphandre/pull/173 to fix the parse int error.

There is a problem fetching the pods metadata but with this fix it will retry.

Currently each scaphandre instance lists all pods in the cluster but it only needs the pods on the current node. I'm not certain this is the reason pods can't be listed but it would be more efficient to filter for

[2022-05-13 15:10] SlimKhiari commented on #172
Hello,
After making that ./scaphandre --vm prometheus, i obtain that
stack backtrace:
   0:     0x5556074b3a36 - std::backtrace_rs::backtrace::libunwind::trace::h610d887740cf1987
                               at /build/rustc-oOlesr/rustc-1.58.1+dfsg1~ubuntu1/library/std/src/../../backtrace/src/backtrace/libunwind.rs:93:5
   1:     0x5556074b3a36 - std::backtrace_rs::backtrace::trace_unsynchronize

[2022-05-13 16:26] #172 closed

[2022-05-13 16:28] SlimKhiari commented on #131
Hello @bpetit ,

I am trying to propagate metrics from my host machine (ubuntu 22.04) to my vm (also ubuntu 22.04). But when making ./scaphandre --vm prometheus, i obtain that :
scaphandre::sensors::powercap_rapl: Powercap_rapl path is: /var/scaphandre
Scaphandre prometheus exporter
Sending \u26a1 metrics
Press CTRL-C to stop scaphandre
thread 'main' panicked at 'Trick: if you are running on a vm,

[2022-05-17 15:40] rossf7 commented on #166
Here is the PR to only list pods for the current node.

https://github.com/hubblo-org/scaphandre/pull/174

[2022-05-17 16:34] billux opened #175 "newlines in processes name (cmdline) aren't escaped"
## Bug description

Newlines in process' cmdline aren't escaped and break Prometheus output format.

## To Reproduce

1. start a process containing a newline in its command line:
[code]
2. query metrics endpoint. The response looks like this:
[code]
    Prometheus fails to parse scaphandre's output and ignore all metrics from scaphandre job.

![2022-05-17-182811_1777x101_scrot](https://user-images

[2022-06-07 13:17] SlimKhiari opened #177 "Energy consumption metrics"
**Hello Mr Petit,

I'm working on a project to extract and collect energy consumption metrics using your API, and then visualize them graphically.

Indeed, I would like to know please, if it is possible of course, to obtain consumption metrics of the applications running on your servers, or datasets, i.e. "fixed" data, in order to enrich my current dashboard.

Thank you for your help.

Slim KHIARI

[2022-06-09 19:17] vikingforties commented on #35
Specifically on the OCI A1 instance which is free to use. https://www.oracle.com/cloud/compute/arm/
Hetzner will be offering EU based bare metal instances soon too.

[2022-06-09 21:09] mrchrisadams commented on #35
Oh really? this has me v interested - where can i read more about this?

[2022-06-14 15:10] mahendrapaipuri opened #179 "Energy consumption for a given user"
## Problem

Currently we can get energy consumption for individual processes using `scaphandre`. The request here is to expose the energy consumption metrics for a given user. So, effectively we will need to iterate through all processes and sum the consumption of processes owned by the given user. Not sure if RUST has any libraries like `psutil` in Python to implement this relatively straightforw

[2022-06-15 08:09] bpetit opened #180 "Upgrade dependencies to fix dependabot alerts"
## Bug description

We have dependencies to be upgraded to fix vulns.

![Capture d’écran du 2022-06-15 10-07-20](https://user-images.githubusercontent.com/906428/173776255-97e834d6-8a51-4699-88dd-8716a8b83cd0.png)

## To Reproduce

Look at dependabot alerts.

## Expected behavior

We should have dependencies up to date at least not to have known vulns.

[2022-06-15 09:21] bpetit commented on #161
This is fixed right ? (seems so regarding the merged PR and latests discussions, but just to be sure)

[2022-06-15 09:24] #169 closed

[2022-06-15 09:25] #69 closed

[2022-06-15 09:31] bpetit commented on #152
works !

Thanks !

![Capture d’écran du 2022-06-15 11-27-12](https://user-images.githubusercontent.com/906428/173794101-d67ab6c3-59ef-463f-9706-58a13aa7207a.png)

[2022-06-15 09:31] #152 closed

[2022-06-15 09:32] bpetit commented on #150
I'll close it now, the release is close.

Having tagged versions according to git tags (ie releases), on one side, and a :dev image that's close to the latest code in dev, is fine for me.

[2022-06-15 11:10] rossf7 commented on #152
Thx! @bpetit <3

[2022-06-21 13:58] demeringo commented on #180
@bpetit , maybe we could add  dependabot.yml file ?
It automates the creation of PR related to dependencies updates.

It will not fix everything automatically as it still depend on the way we pinned specific version in the cargo file, but it could help/

I do not have much experience with this, but I'm testing it on Boavizta cloud scanner.
https://github.com/Boavizta/cloud-scanner/blob/main/.githu

[2022-06-28 15:58] rossf7 commented on #180
@bpetit @demeringo I agree using dependabot could help help.

I haven't used it with rust but its worked well for go projects I've worked on. It can also update github actions which can be useful.

Yes, some manual work will likely be needed but once the deps are updated any out of date dependabot PRs will be closed.

It's possible to set the [target-branch](https://docs.github.com/en/code-securit

[2022-07-13 08:58] bpetit commented on #167
Hi ! Thanks for reporting that issue.

Do you have a full trace of the crash ?

[2022-07-13 09:04] bpetit commented on #131
@DavidMChan would it be, by any chance, possible to access your machine for the tests (or another with the same cpu) ?

[2022-07-13 09:13] bpetit commented on #106
Hi ! Could someone tell me if I understand correctly the state here ? (it's been some time + I'm a noob in selinux)

I first understood we should write a selinux policy for scaphandre, but findings from @nmasse-itix seem to show that

- the issue only happens if scaphandre is in a container (at least for podman)
- this policy would be so permissive that it would be the same as running the containe

[2022-07-13 09:16] nmasse-itix commented on #106
Yes, I think so !

[2022-07-13 09:19] bpetit commented on #106
Thanks ! I'll add attach the PR to this issue and ask you for a review

[2022-07-13 09:29] bpetit commented on #106
Would that work ? https://github.com/hubblo-org/scaphandre/pull/185/files

[2022-07-13 09:39] bpetit commented on #106
@clopnis does this make sense to you ?

[2022-07-13 14:31] #106 closed

[2022-07-13 16:39] bpetit commented on #165
Hi, thanks a lot !

Could you give a try to this branch ? https://github.com/hubblo-org/scaphandre/pull/192

[2022-07-14 15:39] DavidMChan commented on #131
Sure! Can you send me an email/DM, and I can work out how to get you ssh access to a machine.

[2022-07-19 17:25] bpetit commented on #117
Hi, thanks for this notice !

I'm about to acquire a "smart" wattmeter to do some comparisons as well. In a R&D project we compared scaphandre measurements with an IPMI card measurement, which shows what's expected : scaphandre gives a lower power usage than tha IPMI (which seems normal as RAPL only accounts the power used by CPU and RAM, not fans, hard drives, and so on... yet).

You case as it w

[2022-07-20 09:12] bpetit commented on #74
We are close to merge this #148 in dev, then in release 0.5.

In the mean time, here is the repo of the driver for reading MSRs on windows : [https://github.com/hubblo-org](https://github.com/hubblo-org/windows-rapl-driver) (there is still documentation and cleaning to do)

A huge thanks to @Vic063 for his tremendous work on this.

[2022-07-20 12:46] bpetit commented on #140
Hi @arthurzenika ,

Thanks for starting this thread. Here is an overview of what has been started or imagined so far, apart from Powercap+RAPL as a source :
- defining and using a model based on components usage to estimate the power instead of getting it directly from RAPL, #25 is the thread to follow
- collecting RAPL metrics directly from the MSRs : works on Windows for now, feature to come is

[2022-07-21 12:13] bpetit commented on #167
As you are running on a Xeon Gold, it seems related to #131 as you imagined.

I encourage you to give a try to #198 if you can, or wait for it to be merged/released (#131 to be solved)

[2022-07-25 12:04] geertpingen commented on #131
Hi @bpetit , unfortunately Im still getting an exception (on branch #131), let me know if I can check/verify anything for you:

[code]

[2022-07-25 12:10] bpetit commented on #131
@geertpingen Hi, thanks for the feedback.

Are you running on a physical machine ? and built https://github.com/hubblo-org/scaphandre/pull/198 ?

Thanks

[2022-07-25 12:12] geertpingen commented on #131
Hi @bpetit, you are too fast :smile:  I was too quick and pulled the wrong branch, it seems to work on first observation!
[code]

[2022-07-25 12:58] bpetit commented on #131
Great, thanks for the feedback ! Happy testing !

[2022-07-25 14:31] geertpingen opened #200 "Qemu exporter always outputs 0W"
## Bug description
Following https://hubblo-org.github.io/scaphandre-documentation/references/exporter-qemu.html, I first try `stdout` exporter on the host which seems to successfully retrieve rapl metrics:
[code]

However, when running `qemu` exporter, it does seem to run w/o issues, but `0W` is written.

On the host:
[code]
Inside the VM (it does pick up on the processes running inside the VM):

[2022-07-25 15:07] geertpingen commented on #200
qemu exporter output:
[code]

[2022-07-25 15:24] geertpingen commented on #200
Converting the division here to floats worked, but Im unsure if that is following correct power calculation logic.

Now I see in the VM:
[code]

[2022-07-28 14:00] maethor opened #201 "RAPL vs IPMI DCMI"
Hi,

I am currently working on RAPL to log power consumption every 10 seconds on around 350 physical servers of various sizes and usage. Full disclosure, I am not using Scaphandre because it was easier to make my own script to fit exactly my needs, but I think we are doing the same thing (reading energy_uj files in `/sys/class/powercap/intel-rapl:*`), and Scaphandre gives me exactly the same resul

[2022-08-01 08:40] dmazhar-cogniance commented on #165
Hey @bpetit , I had the same problem for the latest release. Tried to build the latest `dev` branch and it resolved the problem.

[2022-08-01 08:55] dmazhar-cogniance opened #204 "Invalid escape sequence in prometheus output"
## Bug description

Getting an error from prometheus when trying to scrape scaphandre metrics: `text format parsing error in line 46: invalid escape sequence '\u'`
The line 46:
[code]

## To Reproduce

Run scaphandre in prometheus mode and start a process with prometheus invalid escape sequence in the cmdline

## Expected behavior

Prometheus consuming metrics

## Screenshots

N/A

## Environment

[2022-08-02 13:38] bpetit commented on #165
Hi @dmazhar-cogniance !

Thanks a lot for the feedback ! Closing until contrary feedback

[2022-08-02 13:38] #165 closed

[2022-08-05 19:33] papey commented on #92
Hi 👋 !

I'm interested by this issue, can I take it ? Thanks !

[2022-08-06 08:56] bpetit commented on #92
Hi @papey !

I'd say of course you can ! Maybe check with @uggla if any work has been started already

[2022-08-10 08:20] bpetit commented on #131
A new fresh test of #198 on @DavidMChan's machine seems to work properly with stdout and prometheus exporters.

[2022-08-10 16:44] DavidMChan commented on #131
Thanks @bpetit  - This seems to be working on our other machines as well! (Sorry for the delayed test!)

[2022-08-11 15:00] bpetit commented on #131
Thank you for the feedback !

[2022-08-11 15:00] #131 closed

[2022-08-19 09:17] gebauerm commented on #133
Hi, a colleague and I really appreciate your tool and would like to use it for sustainability research purposes. Unfortunately, we are encountering the same bug, is there any news on this?

[2022-08-23 08:07] dmazhar-cogniance commented on #204
May be related to the old prometheus version. I'm using `1.8.1` in this setup. Can't test on a newer version unfortunately :disappointed:

[2022-08-29 06:58] davidmytton commented on #46
Firefox 104 introduced a new power profiler for [Windows](https://hg.mozilla.org/mozilla-central/rev/185ab81e5f51) (Windows 11 or Windows 10 with an [EMI](https://docs.microsoft.com/en-us/windows-hardware/drivers/powermeter/energy-meter-interface)) and [Mac](https://hg.mozilla.org/mozilla-central/rev/0839b2f7ae02) (Apple Silicon only). This provides output in watts in the profiler UI, but the inte

[2022-09-01 18:03] cetiberiojr opened #210 "thread 'main' panicked at 'called `Result::unwrap()` - Ubuntu 22.04.1 LTS VM"
Hi,

I followed all the issues here giving some solution to this issue, but still no success.

This are my commands and issues:
[code]
After that I still got issues:
[code]
Here some commands I saw someone asking:
[code]
My Ubuntu VM:
[code]

Someone can help me here?

[2022-09-03 09:12] kraktus commented on #210
Error comes from here: https://github.com/hubblo-org/scaphandre/blob/50fea42ebd1f8bda9d98e8d27b348c626ed3055d/src/sensors/powercap_rapl.rs#L76

Does `/var/scaphandre` exist in your VM?

[2022-09-05 13:30] cetiberiojr commented on #210
I don't think it's the root cause of the issue...

The `/var/scaphandre` didn't exist... I created it and still same issue.

[2022-09-07 12:31] bpetit opened #213 "OpenTelemetry exporter"
## Problem

Monitoring world is structuring and some possible future standards emerge, like https://opentelemetry.io/docs/collector/.

It would be great to respect this standard to allow much more monitoring solutions to be part of the equation.

Just a thought at this stage.

Feel free to give your opinion on this.

## Solution

Develop an opentelemetry exporter, should it be based on "collector"

[2022-09-08 08:14] netzdoktor opened #214 "Power of 0 returned for all processes on Ubuntu 22.04.1 LTS"
## Bug description

On my system, running `scaphandre stdout -t 15` returns 0 W for all processes.

## To Reproduce

[code]

## Expected behavior

The power values should be non-zero.

## Screenshots

None

## Environment

[code]

## Additional context

None

[2022-09-09 08:18] netzdoktor commented on #214
Indeed, `sudo scaphandre` did the trick. I wonder whether replying with 0W is the proper handling of missing permissions. It's not completely misleading (as 0W is obviously non-sense), but program failure or more elaborate output would be more sensible?

If you agree, I could help implement it, as I have some Rust experience.

[2022-09-16 14:22] desrod commented on #53
I see references to several Grafana dashboards but nobody has yet shared their dashboards anywhere. Is there a repository where these various dashboards are being hidden, so those of us interested in using and promoting Scaphandre and start from? Surely you don't want everyone to start from scratch, right?

[2022-09-17 15:00] bpetit commented on #167
Hi ! #131 as been merged.

Could you give a try to the dev branch and see if this solves your issue ?

[2022-09-22 09:53] hrexha28 opened #216 "Json exporter with regex filtering"
## Problem

For some use cases, it would be nice to have the energy data stored locally plus be able to specify the process name or pid of which data you want to save in the json file.

## Solution

Implement the regex filter in the JSON exporter

[2022-09-22 20:22] bpetit opened #217 "Implement --containers option in json exporter"
## Problem

I'd like to get container labels to metrics I get from json exporter, but the option doesn't exist yet, like it does in prometheus container.

## Solution

Implement the --containers option in json exporter.

[2022-09-23 12:20] bpetit commented on #53
The dashboard showed in this thread is in the docker-compose folder, and you  should have it up and running locally if you run the docker compose stack.

The [demo dashboard](https://metrics.hubblo.org) is not shared, but I could put the json in the repository if this is of any help.

Having a dedicated repo for community dashboards is a great idea, thanks ! I might create one soon.

[2022-09-24 11:40] bpetit commented on #35
Thanks a lot for those insights @vikingforties !

I'll try to jump on this and try to propose a way of integrating this in Scaphandre !

cc @vico063

[2022-09-24 12:04] adelnoureddine commented on #35
Our research paper is still in the process of publication but I've already integrated the RPi CPU power models in PowerJoular.
You can have a look in [our repository](https://gitlab.com/joular/powerjoular/-/blob/main/powermodels/powerjoular_models.json) for the complete list of models we built, but we would like, if used, to be cited (the repo/tool for now, but most importantly the paper when it's

[2022-09-25 06:58] bpetit commented on #35
Thanks a lot @adelnoureddine. Of course we would cite you, the powerjoular community, tool and your paper if we use those models. What would you think about merging efforts around the tools to generate profiles, models and store those models, with the Energizta project ? https://github.com/boavizta/energizta

[2022-09-25 09:31] da-ekchajzer commented on #35
To specify [Energizta](https://github.com/boavizta/energizta) will be a tool / Collaborative database to aggregate electricity consumption measurement :

* At different load
* With different stress test strategy
* On different components (CPU, RAM, SERVER)
* With different electricity consumption measurement strategy (RAPL, Watt Meter, ...)

The database could be used in several research projects.

[2022-09-26 07:55] adelnoureddine commented on #35
Thanks @da-ekchajzer. I think Energizta can benefit from our benchmarking architecture as we built one quite effective and we have a proof of concept implementation.
The paper is about the architecture, with a validation through the RPi models. I'll wait for the paper, or the thesis defense, before we can publish these material online. But for sure, I think you can use elements from them.

[2022-10-03 09:59] maethor commented on #201
Hi @bpetit

Did you have time to think about it? I am still logging data since June, but I am kind of stuck on this project. I would really like to get your feedback and to discuss this issue with you.

I am french btw. I would have loved to offer a beer but I don't leave in Paris. If you have time and if you prefer, we could simply plan for a visio. You can write to me at guillaume at sysnove.fr.

[2022-10-04 11:30] demeringo commented on #214
Makes me think of https://github.com/hubblo-org/scaphandre/issues/137

[2022-10-07 16:00] bpetit commented on #175
@uggla did you open a PR on this ? I see the commit but I cannot find the related PR, did I miss something ?

[2022-10-07 17:16] uggla commented on #175
@bpetit yes I wrote a PR to fix this bug.

[2022-10-07 17:19] uggla commented on #175
https://github.com/hubblo-org/scaphandre/pull/195

[2022-10-08 08:52] bpetit commented on #175
Thanks a lot ! I lost it for a moment.

[2022-10-10 08:41] cs35-owncloud opened #222 "Export metrics from Proxmox's VMs"
Hello,

first thanks for this tool ! I used the bug label for this issue, but it's mostly an information I couldn't find on[ exporter-qemu](https://hubblo-org.github.io/scaphandre-documentation/references/exporter-qemu.html) page.

## Bug description

Running scaphandre on Proxmox does not seem to be working.

## To Reproduce

1. Install scaphandre on both Proxmox and one VM (for testing purpose o

[2022-10-12 07:55] cs35-owncloud opened #223 "Add a configuration file"
## Problem

If you have an init script to start scaphandre, or want to automate scaphandre's deployment, it's quite annoying to define scaphandre's parameters in the command line, for example:

[code]

## Solution

It would be more convenient to have a configuration file read by default in **/etc/scaphandre/scaphandre.conf**, for example:

[code]

Thanks.

[2022-10-13 17:32] demeringo commented on #223
Related https://github.com/hubblo-org/scaphandre/issues/145

[2022-10-17 15:05] reisub0 opened #225 "Kubernetes pod-level information missing?"
## Bug description

I have deployed using the Helm chart for Scaphandre - v0.1.0, and [looking at the documentation](https://hubblo-org.github.io/scaphandre-documentation/references/exporter-prometheus.html#:~:text=kubernetes_node_name%3A-,identifies,-the%20name%20of) for the Prometheus exporter, I can see that I am supposed to get additional information and metadata about the pods.

However, I no

[2022-10-22 08:37] bpetit opened #226 "Sqlite exporter"
## Problem

Sqlite could be handy for local applications using scaphandre in the background.

## Solution

Create an sqlite exporter.

[2022-10-26 12:16] mmadoo commented on #225
I do not have such issue on k8s v1.21.8 using latest helm chart on main branch.

[2022-10-26 13:48] reisub0 commented on #225
@mmadoo Thanks for getting back regarding this issue. Could you please show me an example of the full metric line for `scaph_process_power_consumption_microwatts` which should be available on the Scaphandre's `/metrics` endpoint?

[2022-10-26 15:23] mmadoo commented on #225
I have for instance a line with
`scaph_process_power_consumption_microwatts{container_scheduler="kubernetes",container_id="2579a8513029f0fb26891985e49cf61802e26833d6b04ebaa2ca6191c6fba18a",kubernetes_node_name="workerdcbraindev04",kubernetes_pod_name="kubecost-grafana-6744d99888-4zhmd",pid="2767836",kubernetes_pod_namespace="kubecost",exe="grafana-server",cmdline="grafana-server--homepath=/usr/sha

[2022-10-26 15:31] reisub0 commented on #225
@mmadoo Thank you! I have gotten an idea on what might be the issue (might be related to how K3S works). I am going to presently try re-deploying K3S using the distro provided containerd as opposed to its default embedded containerd.

I will try this and get back.

[2022-10-26 16:17] reisub0 commented on #225
@mmadoo It seems to be working when launching K3S with the `--docker` flag. Thanks a lot for your help!

It looks like Scaphandre (obviously) has some expectations wrt the base distribution of Kubernetes. I'd imagine that there's no way for Scaphandre to detect  K3S's embedded containerd socket to retrieve pod metadata.

So this is definitely not a bug on Scaphandre's side, and is a result of my K

[2022-10-26 16:17] #225 closed

[2022-10-28 10:45] bpetit commented on #217
Example of usage

`scaphandre --no-header json --containers --max-top-consumers=15 | jq`

[2022-10-28 14:20] bpetit commented on #175
Applied changes from @uggla in aa15ae288a91184041c4dce19debb869b6a1b385

It is fixed, thanks a lot @billux for raising the issue and @uggla for fixing it !

[2022-10-28 14:20] #175 closed

[2022-10-28 14:23] bpetit commented on #167
Closing, as it seems related to the PR mentioned.

Don't hesitate to ask/reopen the issue if this is not fixed on your side.

[2022-10-28 14:23] #167 closed

[2022-10-28 14:23] #217 closed

[2022-10-29 09:54] bpetit commented on #201
As discussed with @maethor and to lead other readers to the right direction, we now contribute to a collaborative database project on power consumption profiles : https://github.com/boavizta/energizta

It should, at some point. give answers and clarity about differences between multiple sources of power metrics, like RAPL, IPMI, and so on. We'll get metrics from differents sources and start doing

[2022-10-29 09:54] #201 closed

[2022-11-02 18:34] bpetit commented on #25
To give a bit of news on this, we are about to launch a collaborative database of power consumption profile per hardware, with Boavizta : [Energizta](https://github.com/Boavizta/Energizta/)

Which is kind of the database part of the solution that has been described in this thread. Hope to find you numerous contributing to this project ! :)

[2022-11-02 18:38] bpetit commented on #25
To add on this, here is [how this is estimated today](https://github.com/Boavizta/boaviztapi/issues/86) in the [BoaviztAPI](https://github.com/Boavizta/boaviztapi).

The Energizta project I mentioned before is about providing better data for this kind of power usage modeling.

[2022-11-03 11:17] philippHecht98 commented on #200
Had the same issue and thought about the same fix in Line 84.

However, I don't thinkt that the results displays the consumption in Watts but instead returns the consumed power in uJ between two records, though I'm also not quite sure about it

[2022-11-07 00:49] uggla commented on #145
Hello, coming with clap 4.0 (coming in #234), we can add an env directive to get value from an env variable. https://docs.rs/clap/4.0.19/clap/builder/struct.Arg.html#method.env
It seems pretty simple to add, not intrusive and avoids a new dependency. Used with a dotenv file it could be a friendly alternative.

[2022-11-09 07:40] papey opened #237 "Support for Open Telemetry ?"
## Problem / Question

(More of an open question than a real problem)

Thinking long term, supporting a lot of exporters will be a challenging because of all the little differences between products.

To avoid such added complexity, we may want to support [Open Telemetry](https://opentelemetry.io/). This is a [CNCF](https://www.cncf.io/) project proposing APIs and SDKs around all kind of telemetric

[2022-11-11 10:37] bpetit opened #238 "Energizta exporter"
## Problem

Scaphandre users should be able to feed the collaborative database [Energizta](https://github.com/Boavizta/Energizta/) is they want to.

## Solution

Write an exporter that respects the Energizta spec. Take #164 into account for the features and link progress to #25

[2022-11-11 10:38] papey commented on #237
Woops sorry for the duplicate ! I was almost sure that I checked the issues first :shrug:

[2022-11-11 10:39] bpetit commented on #164
@da-ekchajzer  Merging work from the Greenhack22 branch in dev, I should get to something okay about about IT resources consumption, which should make this feature more useful.

Related to #238

[2022-11-12 07:32] fmanzano55 opened #239 "thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Os"
Hi,

On fresh Ubuntu Server 22.04.1 installed as VM in VMware Fusion :
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 2, kind: NotFound, message: "No such file or directory" }', src/sensors/powercap_rapl.rs:76:53
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

Same error on Ubuntu Desktop and RHL 8 in VMware fusion.

Command line u

[2022-11-12 10:40] demeringo commented on #237
@papey , no worries, the feedback is _always_ appreciated !

[2022-11-12 13:02] bpetit commented on #237
@demeingo is right, no worries ! Thanks for showing interest in the feature anyway :)

[2022-11-16 19:50] CracKOl opened #241 "Wrong watt consumptions"
## Bug description

First of all, thanks for sharing this tool !

I've deployed the last version on k3S with no pb. Then i have imported the scaphandre dashboard from grafana.com, using its ID : It works fine, i have data displayed but the watt consumption are too low compared to the measure i do with my wattmeter.
I mesure 34w on my device when grafana displays 12 to 15w.

## Expected behavior

C

[2022-11-17 08:22] FranciscoSedeno opened #242 "How to measure multi-node energy consumption"
Hello! I am using scaphandre with prometheus in a multi node microk8s cluster, but I've seen that scaph_host_power_microwatts only returns (as its name implies) host energy consumption, but I want to get the other nodes' (configured as worker nodes) energy consumption. I've tried with different queries like scaph_process_power_consumption_microwatts but I only get results from the "kubernetes-serv

[2022-11-17 09:46] mmadoo commented on #242
Hi,
You cound distinct nodes using the `instance` label of the prometheus metrics.
For instance, the query `avg by (instance) (scaph_host_power_microwatts) /1000000` provide consuption per node.

[2022-11-17 10:51] FranciscoSedeno commented on #242
@mmadoo Thanks for the advice! I don't know what was happening before but I didn't receive any tuple for the worker node, now I've tried again and everything is fine.

Thanks again!

[2022-11-17 15:42] quantumsheep commented on #24
Hi, is there any news on this issue ?

[2022-11-17 15:58] uggla commented on #24
@quantumsheep not really.
Do you need this feature ?  I would say if someone needs that one I could be motivated to implement it.

[2022-11-21 12:53] FranciscoSedeno opened #244 "Integration with microk8s prometheus"
Hi! I am using scaphandre in a microk8s cluster and for the installation I am using your guide. In said guide the way to install prometheus is using the prometheus-community helm chart, but as I am using microk8s I have access to the prometheus addon that I can enable by just typing the command: `microk8s enable prometheus`, is there a way to connect scaphandre with that prometheus? By default I t

[2022-11-21 13:10] mmadoo commented on #244
I have created the pull request #230 to enable a service monitor kubernetes object. I use it, on my cluster with an external prometheus.
This solution may fix your issue.

[2022-11-21 13:14] FranciscoSedeno commented on #244
@mmadoo That seems interesting, so I just need to wait for the pull request to be merged? In addition, is it going to be transparent for the user or is there a guide to link prometheus and scaphandre?

[2022-11-21 13:32] mmadoo commented on #244
ServiceMonitors are a common way to expose metrics to prometheus.
If it is enabled (see https://github.com/hubblo-org/scaphandre/pull/230/files#diff-86b0db91cc43fb2b011815737048a40f18f4b713a1edf0e72440f770e81595f0), it should be transparent for the user

[2022-11-21 13:38] FranciscoSedeno commented on #244
Oh thanks! ...So it should be enabled if I installed scaphandre with helm, ...right? Sorry I'm quite new to kubernetes

[2022-11-21 13:43] #242 closed, assigned to nobody

[2022-11-21 14:00] FranciscoSedeno commented on #244
Ok thanks anyway

[2022-11-21 20:51] bpetit commented on #239
Hi !

Unfortunately vmware support is not implemented in scaphandre. We would need to develop an exporter like the qemu one but for vsphere, then you should be ablte use the powercap sensor inside the VM

[2022-11-21 20:53] #239 closed

[2022-11-22 16:28] uggla commented on #24
Ok, I need to discuss with @bpetit about his plan for the next release.
I also need to discuss how Benoit wanted to deal with input plugins. I think this is the main difficulty with this issue.
Then I will try to put this issue on the TODO list.

[2022-11-23 13:42] reisub0 commented on #241
The power measurement that RAPL measures (which Scaphandre uses) cannot be equal to the wattmeter readings and it will always be lower.

RAPL *estimates* CPU and DRAM power consumption using some features and models that are provided on Intel processors.

CPU and DRAM aren't the only power consuming entities on your system. So when you measure the "Socket power" with the Wattmeter, you are also ad

[2022-11-30 14:52] hrexha28 commented on #217
Hi,
I tried to use the --containers option with lxd containers but i get null in the container field for the json exorter.
Is there any way to get the linux container power number?
Thanks